My_n8n_workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -20,
        2840
      ],
      "id": "30969afb-08c1-4163-aa38-7f2dd86141d8",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a08ebfd2-be88-4870-9f83-9430eda33d56",
              "name": "Resume",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1080,
        2840
      ],
      "id": "e74eb800-2784-42db-902d-649a06436f9e",
      "name": "SetResumeField"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        860,
        2840
      ],
      "id": "82c129f2-f750-4841-8e53-023180e0bc8d",
      "name": "Extract Information from Resume PDF"
    },
    {
      "parameters": {
        "promptType": "=define",
        "text": "=You are an expert AI assistant specializing in career matching and job recommendation.\n\nYour Goal:\nYour primary task is to analyze a provided dataset of job descriptions from LinkedIn and Indeed, a user's Curriculum Vitae (CV) provided as a string, and the user's job preferences is also provided as a string. Based on this analysis, you must identify and select the top {{ JSON.stringify($('Input').all()[0].json.recommendedJobCount)}}  most suitable job opportunities for the user from the provided list.\n\nInputs You Will Receive:\n\njob_descriptions {{ $json.stringified }}: A collection containing job descriptions scraped from LinkedIn and Indeed. Each job has the following structure:\n{\n  \"id\": [database ID],\n  \"company_name\": [company name],\n  \"job_title\": [job title],\n  \"industry\": [industry],\n  \"application_url\": [URL],\n  \"location\": [job location],\n  \"flexibility\": [work arrangement],\n  \"salary_range\": [salary if available],\n  \"created_at\": [timestamp]\n}\nuser_cv {{ $('SetResumeField').first().json.Resume }}: A single string containing the user's full CV text.\nuser_preferences {{ $('Input').first().json.Preference }}: A single string outlining the user's job preferences (e.g., desired roles, industries, company size, location constraints, salary expectations, work culture).\n\nYour Task Breakdown:\n\nAnalyze: Meticulously parse and understand the content of the user_cv and user_preferences.\nEvaluate: For each of the job_descriptions:\nExtract key information: Company Name, Job Title, Industry (if explicitly mentioned or inferable), and Application URL.\nCompare the job's requirements, responsibilities, and company details against the user's skills, experience (from user_cv), and stated desires (from user_preferences).\nRank: Assess the suitability of each job for the user based on the comparison. Create a ranked list of all scraped jobs from most to least suitable.\nSelect: Choose the top {{ JSON.stringify($('Input').all()[0].json.recommendedJobCount)}} from your ranked list.\nFormat Output: Prepare the final output containing detailed information for only these {{ JSON.stringify($('Input').all()[0].json.recommendedJobCount)}} selected jobs.\n\nOutput Requirements:\n\nYou must return a structured list containing exactly {{ JSON.stringify($('Input').all()[0].json.recommendedJobCount)}} job recommendations. For each of the {{ JSON.stringify($('Input').all()[0].json.recommendedJobCount)}} jobs, provide the following specific details:\n\ndatabase_id: The \"id\" field from the job record.\nCompany Name: The name of the hiring company from \"company_name\".\nJob Title: The official title of the position from \"job_title\".\nIndustry: The industry sector from \"industry\" (if available).\nReason for Match: A brief (1-2 sentences) explanation justifying why this specific job is a strong match for the user. This explanation should explicitly reference alignment between the user's CV/preferences and the job description.\nApplication URL: The direct URL to apply from \"application_url\". If the apply URL is not found or empty, return the linkedin link for this job.\nLocation: The job location from \"location\".\nFlexibility: Work arrangement type from \"flexibility\".\nSalary Range: Salary information from \"salary_range\" if available, otherwise \"Not specified\".\n\nOutput format Example:\n[\n  {\n    \"database_id\": 1,\n    \"Company Name\": \"Innovatech Solutions\",\n    \"Job Title\": \"Senior Software Engineer\",\n    \"Industry\": \"Technology / SaaS\",\n    \"Reason for Match\": \"Strong alignment with your 7 years of backend development experience (Java/Spring) listed in CV and your preference for mid-sized tech companies.\",\n    \"Application URL\": \"https://linkedin.com/jobs/view/1234567890\",\n    \"Location\": \"San Francisco, CA\",\n    \"Flexibility\": \"Hybrid\",\n    \"Salary Range\": \"$120,000 - $150,000\"\n  },\n  {\n    \"database_id\": 2,\n    \"Company Name\": \"FinSecure Corp\",\n    \"Job Title\": \"Data Scientist\",\n    \"Industry\": \"Financial Services\",\n    \"Reason for Match\": \"Matches your PhD in Statistics, experience with machine learning models detailed in your CV, and stated interest in the Fintech sector.\",\n    \"Application URL\": \"https://linkedin.com/jobs/view/0987654321\",\n    \"Location\": \"New York, NY\",\n    \"Flexibility\": \"On-site\",\n    \"Salary Range\": \"$110,000 - $130,000\"\n  },\n  {\n    \"database_id\": 3,\n    \"Company Name\": \"Global Health Initiative\",\n    \"Job Title\": \"Biostatistician\",\n    \"Industry\": \"Healthcare / Research\",\n    \"Reason for Match\": \"Aligns with your strong statistical background and published research in healthcare outcomes mentioned in your CV.\",\n    \"Application URL\": \"https://linkedin.com/jobs/view/5678901234\",\n    \"Location\": \"Boston, MA\",\n    \"Flexibility\": \"Hybrid\",\n    \"Salary Range\": \"Not specified\"\n  },\n  {\n    \"database_id\": 4,\n    \"Company Name\": \"EcoSolutions\",\n    \"Job Title\": \"Sustainability Analyst\",\n    \"Industry\": \"Environmental Services\",\n    \"Reason for Match\": \"Matches your environmental science background and stated preference for working in sustainability-focused organizations.\",\n    \"Application URL\": \"https://linkedin.com/jobs/view/2345678901\",\n    \"Location\": \"Portland, OR\",\n    \"Flexibility\": \"Remote\",\n    \"Salary Range\": \"$85,000 - $95,000\"\n  },\n  {\n    \"database_id\": 5,\n    \"Company Name\": \"TechStart Accelerator\",\n    \"Job Title\": \"Technology Consultant\",\n    \"Industry\": \"Consulting\",\n    \"Reason for Match\": \"Aligns with your technical advisory experience and preference for varied project work mentioned in your preferences.\",\n    \"Application URL\": \"https://linkedin.com/jobs/view/3456789012\",\n    \"Location\": \"Austin, TX\",\n    \"Flexibility\": \"Hybrid\",\n    \"Salary Range\": \"$100,000 - $120,000\"\n  }, {...} , {...}, ...\n]",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        4820,
        2815
      ],
      "id": "27ac2318-c06a-4369-9b78-ba8cbb5503de",
      "name": "AI Agent: Find Best-matched jobs",
      "retryOnFail": true,
      "executeOnce": true
    },
    {
      "parameters": {
        "sendTo": "={{ $('Input').first().json.EmailAddressToReceiveJobRecommendations}}",
        "subject": "=Best-Matched Jobs - {{ $now.format('yyyy-MM-dd') }} ",
        "message": "={{$input.item.json.html}}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        6452,
        2915
      ],
      "id": "fab72136-d4fe-4db5-9eda-4975ad71d963",
      "name": "Email the top job recommendations",
      "webhookId": "4bad9db8-f115-4943-a6e7-7d319ea117ef",
      "credentials": {
        "gmailOAuth2": {
          "id": "1Ype0s2KCYxt8cHF",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro-preview-06-05",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        4820,
        3040
      ],
      "id": "757bd2e4-fc13-4968-aed8-69eea1e2a602",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "aw7Pold22PTIhMYc",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9ba8a38a-17fc-4b4a-8a4e-6981b92cbee4",
              "name": "ApifyAPIKey",
              "value": "={{$env.APIFY_KEY}}",
              "type": "string"
            },
            {
              "id": "a08ebfd2-be88-4870-9f83-9430eda33d56",
              "name": "Preference",
              "value": "={{$env.Job_Matching_Preference}}",
              "type": "string"
            },
            {
              "id": "82b79f4d-43b9-4a36-80df-0d4ca51ab5e5",
              "name": "EmailAddressToReceiveJobRecommendations",
              "value": "={{$env.Email_Adress}}",
              "type": "string"
            },
            {
              "id": "3ee98ee6-7c9f-4f2c-afe7-12bb4d53c7c2",
              "name": "recommendedJobCount",
              "value": 20,
              "type": "number"
            },
            {
              "id": "b4c797c5-da56-47e1-84c1-ce64ea9b508e",
              "name": "first_timeout",
              "value": 20,
              "type": "number"
            },
            {
              "id": "8e16b176-2cd3-448a-a859-6570cacda1f0",
              "name": "request_interval",
              "value": 30,
              "type": "number"
            },
            {
              "id": "957da0f1-203d-455f-9201-471feb1ca244",
              "name": "webhookBaseUrl",
              "value": "={{ $env.WEBHOOK_URL }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        200,
        2840
      ],
      "id": "94798a4b-8a78-45b3-9a63-2012f88c6074",
      "name": "Input"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "97e6b24a-a185-4e8e-9767-b0fe88264885",
              "name": "stringified",
              "value": "={{ JSON.stringify($json) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4600,
        2815
      ],
      "id": "2ffd628c-60f0-4427-b40e-b4cb04a2bebe",
      "name": "stringify_json"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6c37a80a-a136-4f79-b8c8-056cd044d5c0",
              "name": "runId",
              "value": "={{ $json.data.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1740,
        2165
      ],
      "name": "Extract Run ID",
      "id": "605a4fa6-9e35-4125-a9df-9fa5e0c2b543"
    },
    {
      "parameters": {
        "url": "=https://api.apify.com/v2/actor-runs/{{ $('Extract Run ID').item.json.runId }}?token={{ $('Input').item.json.ApifyAPIKey }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2180,
        2165
      ],
      "name": "Check Run Status",
      "id": "07ddf898-1488-4735-937b-259ea99c979f"
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.data.status }}",
              "operation": "equal",
              "value2": "=SUCCEEDED"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2400,
        2090
      ],
      "name": "Check if Succeeded",
      "id": "570d341d-2fb4-43d9-9838-725c8c0257a5"
    },
    {
      "parameters": {
        "amount": "={{ $('Input').first().json.request_interval }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2620,
        2265
      ],
      "name": "Wait and Retry",
      "id": "f3c9bc9d-c90b-4ba1-8b86-a418086cf73f",
      "webhookId": "e4e481f0-c4e7-44c8-b8f1-6348cdb8e30c"
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "# Important: Import the datetime module to work with timestamps\nfrom datetime import datetime, timezone\n\n# The incoming data is available in the _data variable.\n# It is expected to be a dictionary from the previous node.\nmatched_jobs = _data.data\n\nprint(\"Attempting to find matched job data...\")\n\nprint(f\"Found: {len(matched_jobs)} matched jobs.\")\n\n# Prepares the data for the database update operation\nupdate_operations = []\nfor job in matched_jobs:\n    \n    job_id = job.get('database_id') or job.get('id')\n    \n    # Only proceed if a job ID is present\n    # if job_id:\n        # Create the data payload for the update\n    update_payload = {\n        'id': job_id,\n        'status': 'processed',\n        'processed_at': datetime.now(timezone.utc).isoformat(),\n    }\n\n    # Add the reason for the match only if it exists\n    reason_for_match = job.get('Reason for Match') # The key from the AI analysis\n    if reason_for_match:\n        # IMPORTANT: 'reason_for_match' must be the exact column name in your database table!\n        update_payload['reason_for_match'] = reason_for_match\n\n    update_operations.append({\n        'json': update_payload\n    })\n\n# The original data is retained for use in the next step of the workflow.\n# It is returned along with the prepared update operations.\nfinal_output = {\n    'matchedJobs': matched_jobs,\n    'updateOperations': update_operations\n}\n\n# Returns the data in the correct n8n format.\n# The node outputs a list of items, in this case, just one item.\nreturn [final_output]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6012,
        2815
      ],
      "id": "69a570fa-ff87-40d3-8d60-4c6b7d65fe12",
      "name": "update_job_status",
      "alwaysOutputData": false,
      "notesInFlow": false
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6c37a80a-a136-4f79-b8c8-056cd044d5c0",
              "name": "runId",
              "value": "={{ $json.data.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1740,
        3065
      ],
      "name": "Extract Run ID1",
      "id": "5214e817-9ec1-41c7-8099-f019a34020e0"
    },
    {
      "parameters": {
        "url": "=https://api.apify.com/v2/actor-runs/{{ $('Extract Run ID1').item.json.runId }}?token={{ $('Input').first().json.ApifyAPIKey }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2180,
        3065
      ],
      "name": "Check Run Status1",
      "id": "44b0eb2c-579b-4568-a6f1-2f2cc0d6431f"
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.data.status }}",
              "operation": "equal",
              "value2": "=SUCCEEDED"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2400,
        2990
      ],
      "name": "Check if Succeeded1",
      "id": "e894ba9a-e92f-4832-9ab0-6eb94190e94d"
    },
    {
      "parameters": {
        "url": "=https://api.apify.com/v2/actor-runs/{{ $('Extract Run ID1').item.json.runId }}/dataset/items?token={{ $('Input').first().json.ApifyAPIKey }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2620,
        2940
      ],
      "name": "Get Dataset Items1",
      "id": "b6ffd169-f8a9-4390-ba17-e1a5fea55d7a"
    },
    {
      "parameters": {
        "amount": "={{ $('Input').first().json.request_interval }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2620,
        3165
      ],
      "name": "Wait and Retry1",
      "id": "5f4601e3-0bf2-46a1-8a4c-22efd2cfc9ed",
      "webhookId": "abb7cef4-3e55-4ccc-a3b0-e53c80156cd2"
    },
    {
      "parameters": {
        "numberInputs": 4
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        3060,
        2694
      ],
      "id": "d01e2015-cf4c-41e3-9f1d-a45d116a378c",
      "name": "Merge"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.apify.com/v2/acts/valig~linkedin-jobs-scraper/runs?token={{ $('Input').item.json.ApifyAPIKey }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n    \"datePosted\": \"r604800\",\n    \"experienceLevel\": [\n        \"2\",\n        \"3\"\n    ],\n    \"location\": \"Munich\",\n    \"remote\": [\n        \"1\",\n        \"2\",\n        \"3\"\n    ],\n    \"title\": \"Data Scientist\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1520,
        2165
      ],
      "name": "start_apify_run_linkedin",
      "id": "28744bea-986b-4fbd-8bfe-f965d3169998"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.apify.com/v2/acts/valig~indeed-jobs-scraper/runs?token={{ $('Input').item.json.ApifyAPIKey }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n    \"country\": \"de\",\n    \"datePosted\": \"1\",\n    \"limit\": 50,\n    \"location\": \"München\",\n    \"title\": \"Mathematik\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1520,
        3065
      ],
      "name": "start_apify_run_indeed",
      "id": "32354d10-65c0-4582-abff-4f534652a571"
    },
    {
      "parameters": {
        "jsCode": "// 获取要更新的操作\nconst updateOps = $input.first().json.updateOperations;\n\n// 将每个更新操作拆分为单独的项\nreturn updateOps.map(op => op.json);"
      },
      "id": "090ce831-c41e-418d-a6cd-0ebdbc5cfaba",
      "name": "extract_update_operation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6232,
        2715
      ]
    },
    {
      "parameters": {
        "content": "### Setup Scraping Jobs\nFor more information on configuring the input JSON for the scraper actors, please refer to the [apiy actor sites](https://console.apify.com/actors/TrtlecxAsNRbKl1na/input).",
        "height": 1680,
        "width": 220,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1460,
        2000
      ],
      "id": "2561ea69-c4d9-4c1b-a1be-0240f83f923d",
      "name": "Sticky Note14"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6c37a80a-a136-4f79-b8c8-056cd044d5c0",
              "name": "runId",
              "value": "={{ $json.data.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1740,
        3515
      ],
      "name": "Extract Run ID2",
      "id": "3be9f371-a80d-42a7-abfb-55ad2ef5bfc7"
    },
    {
      "parameters": {
        "url": "=https://api.apify.com/v2/actor-runs/{{ $('Extract Run ID2').item.json.runId }}?token={{ $('Input').first().json.ApifyAPIKey }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2180,
        3515
      ],
      "name": "Check Run Status2",
      "id": "e3cc2aaa-04ab-43b6-9958-3826437d6bc2"
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.data.status }}",
              "operation": "equal",
              "value2": "=SUCCEEDED"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2400,
        3440
      ],
      "name": "Check if Succeeded2",
      "id": "a2d2cd31-24fe-4c5c-b08f-82bae6a3e0cb"
    },
    {
      "parameters": {
        "url": "=https://api.apify.com/v2/actor-runs/{{ $('Extract Run ID2').item.json.runId }}/dataset/items?token={{ $('Input').first().json.ApifyAPIKey }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2620,
        3390
      ],
      "name": "Get Dataset Items2",
      "id": "3f1a7aaf-30e6-4109-8692-8ba726678682"
    },
    {
      "parameters": {
        "amount": "={{ $('Input').first().json.request_interval }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2620,
        3615
      ],
      "name": "Wait and Retry2",
      "id": "4bdbad8f-d374-4ad4-acb1-f3654974e169",
      "webhookId": "ded8ac5b-231b-457d-80be-d659f5d880e8"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.apify.com/v2/acts/valig~indeed-jobs-scraper/runs?token={{ $('Input').item.json.ApifyAPIKey }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n    \"country\": \"de\",\n    \"datePosted\": \"1\",\n    \"limit\": 50,\n    \"location\": \"München\",\n    \"title\": \"Data Science\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1520,
        3515
      ],
      "name": "start_apify_run_indeed1",
      "id": "bee8cdd5-4df4-4cad-854c-7a6bc114d875"
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "# Helper function to normalize dictionary keys\ndef normalize_keys(data_dict):\n    \"\"\"\n    Takes a dictionary and returns a new dictionary with its keys\n    normalized (lowercase, no spaces, no underscores).\n    \"\"\"\n    normalized_dict = {}\n\n    for key, value in data_dict.items():\n        # 1. Convert to string, 2. Lowercase, 3. Remove space, 4. Remove underscore\n        normalized_key = str(key).lower().replace(' ', '').replace('_', '')\n        normalized_dict[normalized_key] = value\n    return normalized_dict\n\n# --- Main Execution Block ---\n\n# Get the data from the previous node\n# Assuming the AI agent's output is the direct input to this node\ninput_data = _data\njobs = input_data.matchedJobs\n# norm_jobs = [normalize_keys(job) for job in jobs]\n# return norm_jobs\njob_listings_html = []\n# Create an HTML block for each job\nfor job in jobs:\n    # Normalize the keys of the current job object\n    norm_job = normalize_keys(job)\n    \n    # Now, we can access the data with consistent, clean keys\n    # webhook_base_url = _('Input').first().json.webhookBaseUrl\n    webhook_base_url = \"abc\"#_('Input').first().json.webhookBaseUrl\n  \n    company_name = norm_job.get('companyname')\n    job_title = norm_job.get('jobtitle', 'N/A')\n    industry = norm_job.get('industry', 'N/A')\n    flexibility = norm_job.get('flexibility', 'N/A')\n    salary_range = norm_job.get('salaryrange', 'N/A')\n    location = norm_job.get('location', 'N/A')\n    reason_for_match = norm_job.get('reasonformatch', 'N/A')\n    application_url = norm_job.get('applicationurl', '#')\n    database_id = norm_job.get('databaseid', '')\n\n    html_block = f\"\"\"\n    <tr>\n        <td style=\"padding: 0 25px;\">\n            <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"border: 1px solid #dce3ea; border-radius: 10px; margin-bottom: 25px; overflow: hidden;\">\n                <tr>\n                    <td style=\"background-color: #4a6fa5; color: #ffffff; padding: 18px 20px;\">\n                        <strong style=\"font-size: 18px;\">{company_name}</strong><br>\n                        <span style=\"font-size: 14px; opacity: 0.9;\">{job_title}</span>\n                    </td>\n                </tr>\n                <tr>\n                    <td style=\"padding: 20px; background-color: #ffffff;\">\n                        <div style=\"display: flex; flex-wrap: wrap; gap: 8px; margin-bottom: 14px;\">\n                            <div style=\"background-color: #eef2f7; color: #4a6fa5; border-radius: 20px; padding: 8px 14px; font-size: 13px; display: inline-block;\">{industry}</div>\n                            <div style=\"background-color: #f0f7f4; color: #00a06a; border-radius: 20px; padding: 8px 14px; font-size: 13px; display: inline-block;\">{flexibility}</div>\n                            <div style=\"background-color: #f7f4f0; color: #a06a00; border-radius: 20px; padding: 8px 14px; font-size: 13px; display: inline-block;\">{salary_range}</div>\n                        </div>\n                        <div style=\"margin-bottom: 12px; background-color: #fafafa; padding: 12px; border-radius: 6px;\">\n                            <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n                                <tr>\n                                    <td style=\"padding-bottom: 8px;\">\n                                        <span style=\"font-size: 13px; color: #666666;\">📍 Location:</span>\n                                        <span style=\"font-size: 13px; color: #333333; font-weight: bold; margin-left: 4px;\">{location}</span>\n                                    </td>\n                                </tr>\n                            </table>\n                        </div>\n                        <div style=\"margin-bottom: 18px; border-left: 4px solid #4a6fa5; padding-left: 14px; background-color: #f9f9f9; padding-top: 10px; padding-bottom: 10px;\">\n                            <strong style=\"color: #2a5298; font-size: 15px;\">Why this matches your profile:</strong>\n                            <p style=\"font-size: 13px; color: #444444; margin: 10px 0 0;\">{reason_for_match}</p>\n                        </div>\n                        <a href=\"{application_url}\" target=\"_blank\" style=\"display: inline-block; background-color: #00c07f; color: #ffffff; text-decoration: none; padding: 12px 24px; font-size: 14px; font-weight: bold; border-radius: 6px;\">Apply Now</a>\n                        <div style=\"display: flex; margin-top: 15px;\">\n                            <a href=\"{webhook_base_url}/webhook/2f32a889-c6d8-4dda-a550-71d963063aa7?jobId={database_id}\" target=\"_blank\" style=\"display: inline-block; background-color: #4a6fa5; color: #ffffff; text-decoration: none; padding: 8px 16px; font-size: 12px; border-radius: 4px;\">Generate Cover Letter</a>\n                        </div>\n                    </td>\n                </tr>\n            </table>\n        </td>\n    </tr>\n    \"\"\"\n    job_listings_html.append(html_block)\n\n# Parse the job list into the main template\nfull_html = f\"\"\"<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Your Tailored Career Opportunities</title>\n</head>\n<body style=\"font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; line-height: 1.6; color: #333333; background-color: #f5f7fa; margin: 0; padding: 0;\">\n    <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n        <tr>\n            <td align=\"center\" style=\"padding: 30px 15px;\">\n                <table width=\"600\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background-color: #ffffff; border-collapse: collapse; box-shadow: 0 0 12px rgba(0,0,0,0.05); border-radius: 8px; overflow: hidden;\">\n                    <tr>\n                        <td style=\"background-color: #2a5298; color: #ffffff; padding: 40px 30px; text-align: center;\">\n                            <h1 style=\"margin: 0; font-size: 24px; font-weight: bold;\">Your Personalized Career Opportunities</h1>\n                            <p style=\"margin: 15px 0 0; font-size: 15px; opacity: 0.9;\">Handpicked opportunities aligned with your expertise and preferences</p>\n                        </td>\n                    </tr>\n                    <tr><td height=\"30\"></td></tr>\n                    {''.join(job_listings_html)}\n                </table>\n            </td>\n        </tr>\n    </table>\n</body>\n</html>\"\"\"\n\nreturn [{'json': {'html': full_html}}]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6232,
        2915
      ],
      "id": "f609898d-8004-494c-bb0e-5a108e7119b0",
      "name": "generate_html_template_py"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM job_listings WHERE id IN (SELECT * FROM json_array_elements_text($1::json))",
        "options": {
          "queryReplacement": "={{ $json.data.map(item => item.id) }}\n"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3500,
        2715
      ],
      "id": "fd28ff75-7b8f-474e-b72d-09098ad35030",
      "name": "Get Existing Jobs from DB",
      "alwaysOutputData": true,
      "executeOnce": false,
      "credentials": {
        "postgres": {
          "id": "j5OLrN19Z4DpykWJ",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": " new_jobs_to_insert",
        "include": "allOtherFields",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        3940,
        2815
      ],
      "id": "1bab553a-62a5-46aa-9446-248ff1675e01",
      "name": "Split Out",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "fieldToSplitOut": "updates_to_execute",
        "include": "allOtherFields",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        3940,
        2615
      ],
      "id": "bb418667-06c2-4c50-923e-a24e1f127556",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "functionCode": "var date = new Date().toISOString();\nvar day = new Date().getDay();\nconst weekday = [\"Sunday\", \"Monday\", \"Tuesday\", \"Wednesday\", \"Thursday\", \"Friday\", \"Saturday\"];\n\nitems[0].json.date_today = date;\nitems[0].json.day_today = weekday[day];\n\nreturn items;"
      },
      "name": "GetDate",
      "type": "n8n-nodes-base.function",
      "position": [
        1540,
        4140
      ],
      "typeVersion": 1,
      "id": "ce87d2da-f52f-4040-b505-74433a08ee83"
    },
    {
      "parameters": {
        "model": "deepseek-reasoner",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        3600,
        4540
      ],
      "id": "fe9024ea-c40a-4753-a106-7658ceead5c7",
      "name": "DeepSeek Chat Model1",
      "credentials": {
        "deepSeekApi": {
          "id": "ulkWYFwSYDP4zvCM",
          "name": "DeepSeek account"
        }
      }
    },
    {
      "parameters": {
        "path": "2f32a889-c6d8-4dda-a550-71d963063aa7",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        880,
        4140
      ],
      "id": "6b870da2-086b-4175-a1d3-413cd6ea1b35",
      "name": "Webhook1",
      "webhookId": "4525e7c3-900a-46ba-936b-b99a83c6aa6e"
    },
    {
      "parameters": {
        "mode": "markdownToHtml",
        "markdown": "={{ $('Cover Letter Agent').item.json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        4500,
        4340
      ],
      "id": "e6d2e4f5-3842-4d24-90ad-0ebe57b460c8",
      "name": "Markdown1"
    },
    {
      "parameters": {
        "jsCode": "// 获取AI Agent的输出文本\nconst fullText = $('set_cover_letter1').first().json.output;\n\n// 按自然段落分割文本\nconst paragraphs = fullText.split(\"\\n\\n\");\n\n// 提取第一段作为标题（可选）\nconst title = paragraphs[0].trim();\n\n// 创建块内容\nconst blocks = [];\n\nparagraphs.forEach((paragraph, index) => {\n  if (paragraph.trim().length > 0) {\n    // 确保段落不超过2000字符\n    if (paragraph.length > 2000) {\n      // 如果超过，进一步分割\n      let startIdx = 0;\n      while (startIdx < paragraph.length) {\n        const chunk = paragraph.substring(startIdx, Math.min(startIdx + 1900, paragraph.length));\n        blocks.push({\n          \"type\": \"paragraph\",\n          \"paragraph\": {\n            \"rich_text\": [{\n              \"type\": \"text\",\n              \"text\": {\n                \"content\": chunk\n              }\n            }]\n          }\n        });\n        startIdx += 1900;\n      }\n    } else {\n      // 如果段落长度合适，直接添加\n      blocks.push({\n        \"type\": \"paragraph\",\n        \"paragraph\": {\n          \"rich_text\": [{\n            \"type\": \"text\",\n            \"text\": {\n              \"content\": paragraph\n            }\n          }]\n        }\n      });\n    }\n  }\n});\n\n// 返回结果，包含标题和块\nreturn {\n  json: {\n    title: title,\n    blocks: blocks\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4220,
        4340
      ],
      "id": "58558bea-c07b-452e-8805-fbfb6d81e735",
      "name": "parse_to_markdown1"
    },
    {
      "parameters": {
        "jsCode": "// 获取AI Agent的输出文本\nconst fullText = $('set_cover_letter1').first().json.output;\n\n// 按自然段落分割文本\nconst paragraphs = fullText.split(\"\\n\\n\");\n\n// 创建多个输出项，每项对应一个Notion段落\nconst returnItems = [];\n\nparagraphs.forEach((paragraph, index) => {\n  if (paragraph.trim().length > 0) {\n    // 确保段落不超过2000字符\n    if (paragraph.length > 2000) {\n      // 如果超过，进一步分割\n      let startIdx = 0;\n      while (startIdx < paragraph.length) {\n        const chunk = paragraph.substring(startIdx, Math.min(startIdx + 1900, paragraph.length));\n        returnItems.push({\n          json: {\n            index: returnItems.length,\n            content: chunk,\n            type: \"paragraph\"\n          }\n        });\n        startIdx += 1900;\n      }\n    } else {\n      // 如果段落长度合适，直接添加\n      returnItems.push({\n        json: {\n          index: index,\n          content: paragraph,\n          type: \"paragraph\"\n        }\n      });\n    }\n  }\n});\n\nreturn returnItems;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4800,
        4340
      ],
      "id": "cc090f59-e14a-4445-994c-e062c5fe8cba",
      "name": "parse_to_paragraphs1"
    },
    {
      "parameters": {
        "jsCode": "return $('parse_to_paragraphs1').all().map(item => ({\n  json: {\n    content: item.json.content,\n    type: item.json.type,\n    index: item.json.index\n  }\n}))"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5240,
        4340
      ],
      "id": "c8208a24-e8e7-43f5-b3a9-f1366ee8ddaa",
      "name": "return_all_items1"
    },
    {
      "parameters": {
        "resource": "block",
        "blockId": {
          "__rl": true,
          "value": "={{ $('create_new_cover_letter1').item.json.id }}",
          "mode": "id"
        },
        "blockUi": {
          "blockValues": [
            {
              "textContent": "={{ $json.content }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        5460,
        4340
      ],
      "id": "5be7be70-ba73-461e-8e88-ccc690bee1a1",
      "name": "append_blocks1",
      "executeOnce": false,
      "credentials": {
        "notionApi": {
          "id": "00qTxlkvaMzbvtyd",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "20e5f296-e25b-80e4-8bc8-f57cabd4bba7",
          "mode": "list",
          "cachedResultName": "Job Tracker",
          "cachedResultUrl": "https://www.notion.so/20e5f296e25b80e48bc8f57cabd4bba7"
        },
        "title": "={{ $json.company_name }}",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Application URL|url",
              "urlValue": "={{ $json.application_url }}"
            },
            {
              "key": "Flexibility|multi_select",
              "multiSelectValue": "={{ $json.flexibility }}"
            },
            {
              "key": "Industry|rich_text",
              "textContent": "={{ $json.industry }}"
            },
            {
              "key": "Salary Range|rich_text",
              "textContent": "={{ $json.salary_range }}"
            },
            {
              "key": "Status|select",
              "selectValue": "Applied"
            },
            {
              "key": "Location|rich_text",
              "textContent": "={{ $json.location }}"
            },
            {
              "key": "Job Title|rich_text",
              "textContent": "={{ $json.job_title }}"
            }
          ]
        },
        "blockUi": {
          "blockValues": [
            {
              "textContent": "={{ $json.description.substring(0,1998) }}"
            },
            {
              "textContent": "=created at {{ $json.created_at }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        1980,
        4140
      ],
      "id": "94912d45-95e5-4457-96b6-6c2e3dee595e",
      "name": "create_new_job_listing1",
      "executeOnce": true,
      "credentials": {
        "notionApi": {
          "id": "00qTxlkvaMzbvtyd",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "20f5f296-e25b-80d1-a74c-eaafbb12795f",
          "mode": "list",
          "cachedResultName": "Cover Letter & Resume",
          "cachedResultUrl": "https://www.notion.so/20f5f296e25b80d1a74ceaafbb12795f"
        },
        "title": "=HaowenGuan_ {{ $now.format('yyyy-MM-dd HH:MM') }}",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Company Name|rich_text",
              "textContent": "={{ $('create_new_job_listing1').item.json.name }}"
            },
            {
              "key": "Job Title|rich_text",
              "textContent": "={{ $('create_new_job_listing1').item.json.property_job_title }}"
            },
            {
              "key": "ID|title",
              "title": "={{ $('create_new_job_listing1').item.json.id }}"
            },
            {
              "key": "Application Date|date",
              "date": "={{ $now.format('yyyy-MM-dd HH:MM') }}"
            },
            {
              "key": "database_id|rich_text",
              "textContent": "={{ $('Input2').item.json.jobId }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        5020,
        4340
      ],
      "id": "dcd347c5-7c5b-4c70-98ce-0ec734441810",
      "name": "create_new_cover_letter1",
      "executeOnce": true,
      "credentials": {
        "notionApi": {
          "id": "00qTxlkvaMzbvtyd",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7385ee1c-5a5e-4576-b311-c6fd3f678a8b",
              "name": "property_company_name",
              "value": "={{ $json.property_company_name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2200,
        4140
      ],
      "id": "57c7a0bb-044f-4a44-9502-f816517d4c83",
      "name": "set_company_name2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "12c45e38-79d5-49d1-92ed-8e1aee3081b6",
              "name": "output",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3920,
        4340
      ],
      "id": "31d25932-9b32-4978-9173-44dbcc6331cb",
      "name": "set_cover_letter1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8e16b176-2cd3-448a-a859-6570cacda1f0",
              "name": "EmailAddressToReceiveCoverLetter",
              "value": "={{$env.Email_Adress}}",
              "type": "string"
            },
            {
              "id": "ce46df61-7da9-4f55-9997-3b43906a59e0",
              "name": "PersonalizationNotes",
              "value": "={{$env.Personalization_Notes}}",
              "type": "string"
            },
            {
              "id": "f348b123-cd1b-4698-b68d-889b245935d2",
              "name": "",
              "value": "",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1320,
        4140
      ],
      "id": "c56c93f3-6c18-451d-9428-6a6334da0cd5",
      "name": "Input2"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/data/{{ $('Prepare Latex').item.json.tex_filename }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        5240,
        4000
      ],
      "id": "171398c4-813f-43cf-9192-e9f42b9e4c16",
      "name": "Read/Write Files from Disk7"
    },
    {
      "parameters": {
        "jsCode": "// 从Webhook调用中提取jobId参数\nconst jobId = $('Webhook1').first().json?.query?.jobId;\n\nif (!jobId) {\n  return {\n    json: {\n      success: false,\n      message: \"Missing job ID parameter. Please provide a jobId query parameter.\"\n    }\n  };\n}\n\nreturn {\n  json: {\n    success: true,\n    jobId: jobId\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        4140
      ],
      "id": "3df13f42-bfb5-42cf-a6cf-200a0336259b",
      "name": "get_job_id1"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1RWvsyre4BnUlMiIVA2Br-pMlOdOkVYGr",
          "mode": "list",
          "cachedResultName": "Master CV July25.pdf",
          "cachedResultUrl": "https://drive.google.com/file/d/1RWvsyre4BnUlMiIVA2Br-pMlOdOkVYGr/view?usp=drivesdk"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2420,
        4140
      ],
      "id": "6301d02a-c631-4b65-b503-a9a4df7b30d2",
      "name": "Download Master CV1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "cvvDSIH6tNL6oISu",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "cleaned_content",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        5020,
        4000
      ],
      "id": "4016f5c5-9112-4600-8111-4b492487d123",
      "name": "Convert to File4"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1300,
        2840
      ],
      "id": "e5e9ba6f-a45c-4915-a455-eca3a9fe02f8",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "job_listings",
          "mode": "list",
          "cachedResultName": "job_listings"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.new_jobs_to_insert.id }}",
            "company_name": "={{ $json.new_jobs_to_insert.company_name }}",
            "job_title": "={{ $json.new_jobs_to_insert.job_title }}",
            "application_url": "={{ $json.new_jobs_to_insert.application_url }}",
            "location": "={{ $json.new_jobs_to_insert.location }}",
            "description": "={{ $json.new_jobs_to_insert.description }}",
            "industry": "={{ $json.new_jobs_to_insert.industry }}",
            "flexibility": "={{ $json.new_jobs_to_insert.flexibility }}",
            "salary_range": "={{ $json.new_jobs_to_insert.salary_range }}",
            "status": "={{ $json.new_jobs_to_insert.status }}",
            "source": "={{ $json.new_jobs_to_insert.source }}",
            "created_at": "={{ $json.new_jobs_to_insert.created_at }}",
            "occurrence_count": 0
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": true,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "company_name",
              "displayName": "company_name",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "job_title",
              "displayName": "job_title",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "application_url",
              "displayName": "application_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "location",
              "displayName": "location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "industry",
              "displayName": "industry",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "flexibility",
              "displayName": "flexibility",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "salary_range",
              "displayName": "salary_range",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "processed_at",
              "displayName": "processed_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "reason_for_match",
              "displayName": "reason_for_match",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "occurrence_count",
              "displayName": "occurrence_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "first_scraped_at",
              "displayName": "first_scraped_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "last_scraped_at",
              "displayName": "last_scraped_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        4160,
        2815
      ],
      "id": "816f1adc-0150-4215-9c0d-50651dc38def",
      "name": "Insert new job postings",
      "credentials": {
        "postgres": {
          "id": "j5OLrN19Z4DpykWJ",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ $json.updates_to_execute.json.query }}",
        "options": {
          "queryReplacement": "={{ $json.updates_to_execute.json.params }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        4160,
        2615
      ],
      "id": "d6e817d0-3688-42d1-900d-32840139f6b0",
      "name": "Update existing job postings",
      "credentials": {
        "postgres": {
          "id": "j5OLrN19Z4DpykWJ",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        4380,
        2815
      ],
      "id": "95193862-838c-47dd-9513-63c9e716913e",
      "name": "Aggregate1"
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "job_listings",
          "mode": "list",
          "cachedResultName": "job_listings"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "status": "={{ $json.status }}",
            "processed_at": "={{ $json.processed_at }}",
            "reason_for_match": "={{ $json.reason_for_match }}",
            "occurrence_count": 0
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": true,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "company_name",
              "displayName": "company_name",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "job_title",
              "displayName": "job_title",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "application_url",
              "displayName": "application_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "location",
              "displayName": "location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "industry",
              "displayName": "industry",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "flexibility",
              "displayName": "flexibility",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "salary_range",
              "displayName": "salary_range",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "processed_at",
              "displayName": "processed_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "reason_for_match",
              "displayName": "reason_for_match",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "occurrence_count",
              "displayName": "occurrence_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "first_scraped_at",
              "displayName": "first_scraped_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "last_scraped_at",
              "displayName": "last_scraped_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "change_history",
              "displayName": "change_history",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        6452,
        2715
      ],
      "id": "deae4306-7e7e-4ffb-803b-7bb355d25306",
      "name": "Postgres3",
      "credentials": {
        "postgres": {
          "id": "j5OLrN19Z4DpykWJ",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        3280,
        2715
      ],
      "id": "09673869-5a93-4209-ba6a-0eb9e2d0fe24",
      "name": "Scraped_Aggregated"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "job_listings",
          "mode": "list",
          "cachedResultName": "job_listings"
        },
        "where": {
          "values": [
            {
              "column": "id",
              "value": "={{ $json.jobId }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1760,
        4140
      ],
      "id": "e84650d9-110d-462d-bb03-ac80b5bc471d",
      "name": "Get Job Posting",
      "credentials": {
        "postgres": {
          "id": "j5OLrN19Z4DpykWJ",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "haow.guan@gmail.com",
        "subject": "=  {{ $('Merge1').last().json.subject}}",
        "message": "=  {{ $('Merge1').last().json.body}}",
        "options": {
          "attachmentsUi": {
            "attachmentsBinary": [
              {
                "property": "=pdfdata"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        6120,
        4140
      ],
      "id": "0c2570d1-c526-4228-884c-cd033a2f4783",
      "name": "Gmail",
      "webhookId": "dd01c4f5-206b-4065-944c-f63e4b05002c",
      "executeOnce": true,
      "credentials": {
        "gmailOAuth2": {
          "id": "1Ype0s2KCYxt8cHF",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=# Task: Populate the LaTeX Template\n\nTake the following JSON object of resume content and insert it into the provided LaTeX template.\n\n---\n## 1. Resume Content JSON\n{{ JSON.stringify($('Parse Resume JSON').item.json) }}\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are an expert LaTeX developer functioning as a \"template engine.\" Your sole purpose is to take a JSON object of pre-written content and a LaTeX template, and perfectly populate the template with that content.\n\n- You MUST NOT change the content provided in the JSON.\n- You MUST correctly escape any special LaTeX characters (like %, &, $, #, _) found in the content.\n- You MUST NOT alter the structure, preamble, or custom commands of the LaTeX template.\n\nYour entire output must be a single block of raw LaTeX code, starting with \\documentclass and ending with \\end{document}. Do not include any other text or markdown.\n\nContext: The LaTeX Template (agent_template.tex)\nThis is the only structure you are allowed to use. Your output must be a populated version of this exact template code.\n\n%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%\n% PlushCV - Sanitized Template for AI Agent\n%\n% This template is based on the user's provided script. It assumes that all\n% necessary packages (like textpos, tcolorbox) and custom environments\n% (like colorstrip) are defined in the plushcv.cls file.\n%\n% IMPORTANT: THIS TEMPLATE NEEDS TO BE COMPILED WITH XeLaTeX\n%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%\n\n\\documentclass[]{plushcv} % Assumes plushcv.cls is in the same directory\n\n\\newcommand{\\imagewidth}{0.25\\paperwidth} % Define the width of your image\n\n\\begin{document}\n% \\lastupdated % Optional command, commented out.\n\n%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%\n%\n%   HEADER SECTION & PROFILE PICTURE\n%\n%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%\n\\noindent % Important to prevent paragraph indentation before minipages\n\\begin{minipage}[t]{0.8\\linewidth} % Minipage for the name/contact info\n    \\vspace{0pt} % Ensures content aligns at the very top.\n\n    % Agent populates these fields from Master CV's personal_info.\n    \\namesection{Firstname}{Lastname}{Your Professional Title}{%\n        \\contactline%\n            {City, Country}%\n            {\\href{[https://github.com/username](https://github.com/username)}{[github.com/username](https://github.com/username)}}%\n            {\\href{[https://www.linkedin.com/in/profile](https://www.linkedin.com/in/profile)}{[linkedin.com/in/profile](https://linkedin.com/in/profile)}}%\n            {\\href{mailto:email@provider.com}{email@provider.com}}%\n            {\\href{tel:+1234567890}{+12 345 67890}}%\n    }\n\n\\end{minipage}\\hfill%\n\n% Profile picture positioned with textpos\n\\begin{textblock*}{\\imagewidth}(0.67\\paperwidth, 0pt)\n    % Agent should replace this with the actual image file path.\n    \\includegraphics[width=\\imagewidth]{placeholder_avatar.png}\n\\end{textblock*}\n\n\\par % End the horizontal layout of the header\n\n%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%\n%\n%   SUMMARY\n%\n%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%\n\\sectionsep\n\\begin{center}\n\\begin{colorstrip}{gray!20}\n\\begin{minipage}{\\textwidth}\n    { % Local group for font changes\n    \\fontspec[Path = \\pathtitlefont, SizeFeatures={Size=10pt}]{\\secondnamefont}\n    \\renewcommand{\\bfseries}{\\fontspec[Path = \\pathtitlefont, SizeFeatures={Size=10pt}]{\\firstnamefont}}\n\n    % Agent generates a 3-4 line summary here, tailored to the job description.\n    \n    } % End the local group\n\\end{minipage}\n\\end{colorstrip}\n\\end{center}\n\n%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%\n%\n%   EXPERIENCE\n%\n%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%\n\\section{Experience}\n\n% Agent loops through selected job experiences and generates blocks like this for each.\n\\runsubsection{Company Name}\n\\descript{Job Title}\n\\location{Start Month Year -- End Month Year | City, Country}\n\\begin{tightemize}\n% Agent generates tailored bullet points here\n\\end{tightemize}\n\\sectionsep\n\n%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%\n%   EDUCATION\n%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%\n\\section{Education}\n\n% Agent generates blocks for each educational entry.\n\\runsubsection{University Name}\n\\descript{Degree Name}\n\\location{Start Year -- End Year | City, Country}\n\\vspace{0.2em}\n\\fontspec[Path = \\pathmainfont]{\\mainfont}[Color=primary, SizeFeatures={Size=\\mainfontsize}]\n% Agent adds thesis/coursework details here.\n\\sectionsep\n\n%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%\n%   PROJECTS\n%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%\n\\section{Projects}\n\n% Agent loops through selected, tailored projects.\n\\runsubsection{Project Name}\n\\location{Technology Stack}\n\\begin{tightemize}\n% Agent generates tailored bullet points here\n\\end{tightemize}\n\\sectionsep\n\n%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%\n%   SKILLS\n%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%\n\\section{Skills}\n\n% Agent selects and categorizes skills based on the job description.\n\\subsection{Category Name}\n\\sectionsep\n\\fontspec[Path = \\pathmainfont]{\\mainfont}[Color=primary, SizeFeatures={Size=\\mainfontsize}]\n% Agent lists skills here, separated by \\textbullet{}\n\\sectionsep\n\n\\end{document}\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        4440,
        3900
      ],
      "id": "dc7d1e74-8a42-45dc-8405-0636c0464b3a",
      "name": "AI Resume Consultant"
    },
    {
      "parameters": {
        "jsCode": "const raw_latex_content = $input.first().json.output;\nlet cleaned_content = raw_latex_content.trim();\nif (cleaned_content.startsWith(\"```latex\")) {\n  cleaned_content = cleaned_content.substring(\"```latex\".length).trimStart();\n}\nif (cleaned_content.endsWith(\"```\")) {\n  cleaned_content = cleaned_content.slice(0, -\"```\".length).trimEnd();\n}\nconst company_name = $('Get Job Posting').item.json.company_name.replace(/[^a-zA-Z0-9]/g, '_');\nconst timestamp = new Date().toISOString().replace(/[:.]/g, '-');\nconst tex_filename = `cover_letter_${company_name}_${timestamp}.tex`;\nreturn {\n  tex_filename: tex_filename,\n  pdf_filename: tex_filename.replace('.tex', '.pdf'),\n  cleaned_content: cleaned_content\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4800,
        4000
      ],
      "id": "c3087514-85bb-499e-abf3-1b7349b7aa57",
      "name": "Prepare Latex"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6c37a80a-a136-4f79-b8c8-056cd044d5c0",
              "name": "runId",
              "value": "={{ $json.data.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1740,
        2615
      ],
      "name": "Extract Run ID3",
      "id": "151eebb4-f5a7-43e2-b570-00c8a71b3481"
    },
    {
      "parameters": {
        "url": "=https://api.apify.com/v2/actor-runs/{{ $('Extract Run ID3').item.json.runId }}?token={{ $('Input').item.json.ApifyAPIKey }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2180,
        2615
      ],
      "name": "Check Run Status3",
      "id": "27de1e5b-1295-4f03-87b0-10354d4685a9"
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.data.status }}",
              "operation": "equal",
              "value2": "=SUCCEEDED"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2400,
        2540
      ],
      "name": "Check if Succeeded3",
      "id": "818e5596-3901-4574-86ab-dae1892f4a06"
    },
    {
      "parameters": {
        "url": "=https://api.apify.com/v2/actor-runs/{{ $('Extract Run ID3').item.json.runId }}/dataset/items?token={{ $('Input').item.json.ApifyAPIKey }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2620,
        2490
      ],
      "name": "Get Dataset Items3",
      "id": "b76af6b9-bb32-4996-ad0c-b754433ac202"
    },
    {
      "parameters": {
        "amount": "={{ $('Input').first().json.request_interval }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2620,
        2715
      ],
      "name": "Wait and Retry3",
      "id": "3ebae095-dfcc-422d-b41f-df485a33caa9",
      "webhookId": "e4e481f0-c4e7-44c8-b8f1-6348cdb8e30c"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.apify.com/v2/acts/valig~linkedin-jobs-scraper/runs?token={{ $('Input').item.json.ApifyAPIKey }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n    \"datePosted\": \"r604800\",\n    \"experienceLevel\": [\n        \"2\",\n        \"3\"\n    ],\n    \"location\": \"Munich\",\n    \"remote\": [\n        \"1\",\n        \"2\",\n        \"3\"\n    ],\n    \"title\": \"Mathematik\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1520,
        2615
      ],
      "name": "start_apify_run_linkedin1",
      "id": "2988c8ba-8706-4797-9c12-3bda9d7ecb38"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- CREATE TABLE job_listings (\n--   id TEXT PRIMARY KEY,\n--   company_name TEXT NOT NULL,\n--   job_title TEXT NOT NULL,\n--   application_url TEXT,\n--   location TEXT,\n--   description TEXT,\n--   industry TEXT,\n--   flexibility TEXT,\n--   salary_range TEXT,\n--   status TEXT,\n--   source TEXT,\n--   created_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP,\n--   processed_at TIMESTAMP WITH TIME ZONE,\n--   reason_for_match TEXT\n-- );\n\nCREATE TABLE IF NOT EXISTS job_listings (\n    id TEXT PRIMARY KEY,\n    company_name TEXT,\n    job_title TEXT,\n    application_url TEXT,\n    location TEXT,\n    description TEXT,\n    industry TEXT,\n    flexibility TEXT,\n    salary_range TEXT,\n    status TEXT DEFAULT 'new',\n    source TEXT,\n    created_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP,\n    processed_at TIMESTAMP WITH TIME ZONE,\n    reason_for_match TEXT,\n    occurrence_count INTEGER NOT NULL DEFAULT 1,\n    first_scraped_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP,\n    last_scraped_at TIMESTAMP WITH TIME ZONE,\n    change_history JSONB\n);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        420,
        2840
      ],
      "id": "8e661354-1c23-4122-a1fd-9033a371e228",
      "name": "Init DB",
      "credentials": {
        "postgres": {
          "id": "j5OLrN19Z4DpykWJ",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://latex:5000/compile",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"filename\": $json.fileName.split('/').pop() } }}",
        "options": {}
      },
      "id": "04870192-4474-44c9-856f-3e77a03e6839",
      "name": "HTTP Request: Compile PDF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5460,
        4000
      ],
      "alwaysOutputData": true,
      "notesInFlow": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "filePath": "={{ $json.pdf_path }}",
        "dataPropertyName": "pdfdata"
      },
      "id": "1fa8a5f7-26d0-432c-a472-82886b89a083",
      "name": "Read Generated PDF",
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1,
      "position": [
        5680,
        3900
      ]
    },
    {
      "parameters": {
        "jsCode": "// This function now generates a plain text description without HTML.\nfunction normalizeLinkedInJob(data) {\n  const standardJob = {\n    id: null, company_name: 'Unknown Company', job_title: 'Unknown Position',\n    application_url: '', location: '', description: '', industry: 'Not specified',\n    flexibility: 'Not specified', salary_range: 'Not specified', status: 'new',\n    source: data.source || 'LinkedIn', created_at: new Date().toISOString()\n  };\n\n  // --- MAPPING LOGIC FOR LINKEDIN (unverändert) ---\n  if (data.id) standardJob.id = String(data.id);\n  if (data.postedDate) standardJob.created_at = data.postedDate;\n  if (data.companyName) standardJob.company_name = data.companyName;\n  if (data.title) standardJob.job_title = data.title;\n  if (data.applyUrl || data.url) standardJob.application_url = data.applyUrl || data.url;\n  if (data.location) standardJob.location = data.location;\n  if (data.sector) standardJob.industry = data.sector;\n  if (data.contractType) standardJob.flexibility = data.contractType;\n  if (data.salary) standardJob.salary_range = data.salary;\n\n  // --- Rule for Combined Description (PLAIN TEXT FORMAT) ---\n  const descriptionParts = [];\n  \n  // 1. Main description text (we use the plain 'description' field)\n  if (data.description) {\n    descriptionParts.push(data.description);\n  }\n  \n  // 2. Add other attributes as a plain text block\n  const details = [];\n  if (data.experienceLevel) {\n    details.push(`Experience Level: ${data.experienceLevel}`);\n  }\n  if (data.workType) {\n    details.push(`Work Type: ${data.workType}`);\n  }\n  if (data.sector) {\n    details.push(`Sector: ${data.sector}`);\n  }\n  if (data.recruiterName) {\n    details.push(`Recruiter: ${data.recruiterName}`);\n  }\n  \n  if (details.length > 0) {\n    // Add a text separator and join the details with newline characters\n    descriptionParts.push(\"\\n\\n--- Job Details ---\\n\" + details.join('\\n'));\n  }\n\n  // Join all parts into a single plain text string with double newlines\n  standardJob.description = descriptionParts.join('');\n\n  return standardJob;\n}\n\n\n// A dedicated function to parse the rich format from the Indeed scraper\nfunction normalizeIndeedJob(data) {\n    // This function remains the same as before to handle the Indeed format\n    const standardJob = {\n        id: null, company_name: 'Unknown Company', job_title: 'Unknown Position',\n        application_url: '', location: '', description: '', industry: 'Not specified',\n        flexibility: 'Not specified', salary_range: 'Not specified', status: 'new',\n        source: data.source || 'Indeed', created_at: new Date().toISOString()\n    };\n    const raw_id = data.key || data.id;\n    if (raw_id) standardJob.id = String(raw_id);\n    if (data.datePublished) standardJob.created_at = data.datePublished;\n    if (data.employer?.name) standardJob.company_name = data.employer.name;\n    if (data.title) standardJob.job_title = data.title;\n    if (data.jobUrl || data.url) standardJob.application_url = data.jobUrl || data.url;\n    const loc = data.location;\n    if (loc && typeof loc === 'object') {\n        const city = loc.city || '', postalCode = loc.postalCode || '';\n        if (postalCode && city) standardJob.location = `${postalCode} ${city}`;\n        else standardJob.location = city || postalCode;\n    } else if (typeof loc === 'string') {\n        standardJob.location = loc;\n    }\n    const salary = data.baseSalary;\n    if (salary && typeof salary === 'object') {\n        const min = salary.min, max = salary.max, currency = salary.currencyCode || '', unit = salary.unitOfWork || 'period';\n        if (min && max) standardJob.salary_range = `${currency} ${min} - ${max} per ${unit}`;\n        else if (min) standardJob.salary_range = `From ${currency} ${min} per ${unit}`;\n        else if (max) standardJob.salary_range = `Up to ${currency} ${max} per ${unit}`;\n    } else if (typeof salary === 'string') {\n        standardJob.salary_range = salary;\n    }\n    const descriptionValue = data.description;\n    if (typeof descriptionValue === 'object' && descriptionValue !== null) {\n        standardJob.description = descriptionValue.html || descriptionValue.text || '';\n    } else if (typeof descriptionValue === 'string') {\n        standardJob.description = descriptionValue;\n    }\n    return standardJob;\n}\n\n// --- Main Normalization \"Router\" Function ---\nfunction normalizeJobData(inputData) {\n  if (inputData && (inputData.employer || inputData.baseSalary)) {\n    console.log(\"Detected Indeed (rich schema) format for job ID:\", inputData.key);\n    return normalizeIndeedJob(inputData);\n  }\n  if (inputData && (inputData.companyName || inputData.postedTimeAgo)) {\n    console.log(\"Detected LinkedIn format for job ID:\", inputData.id);\n    return normalizeLinkedInJob(inputData);\n  }\n  console.log(\"Using LinkedIn format as default for job ID:\", inputData.id);\n  return normalizeLinkedInJob(inputData); // Fallback to LinkedIn parser\n}\n\n// --- Main Execution Block ---\nconst inputItems = $input.all();\nconst normalizedJobs = inputItems.map(item => {\n  const inputData = item.json || {};\n  if (!inputData.source && item.from) {\n      if (item.from.node.name.toLowerCase().includes('linkedin')) {\n          inputData.source = 'LinkedIn';\n      } else if (item.from.node.name.toLowerCase().includes('indeed')) {\n          inputData.source = 'Indeed';\n      }\n  }\n  return { json: normalizeJobData(inputData) };\n});\n\nreturn normalizedJobs;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2840,
        2490
      ],
      "id": "4a4c9c9c-5a35-430e-85c2-1d4c911b8d24",
      "name": "normalize_linkedin_job_data"
    },
    {
      "parameters": {
        "jsCode": "/**\n * Normalizes a raw, structured job object from the Indeed scraper into our standard database format.\n */\nfunction normalizeJobData(inputData) {\n  \n  const standardJob = {\n    id: null,\n    company_name: 'Unknown Company',\n    job_title: 'Unknown Position',\n    application_url: '',\n    location: '',\n    description: '',\n    industry: 'Not specified',\n    flexibility: 'Not specified',\n    salary_range: 'Not specified',\n    status: 'new',\n    source: 'Indeed', // Source is specific to this normalizer\n    created_at: new Date().toISOString()\n  };\n\n  // --- Rule for ID ---\n  // Priorities 'key' as the primary identifier.\n  const raw_id = inputData.key || inputData.id;\n  if (raw_id) {\n    standardJob.id = String(raw_id);\n  }\n\n  // --- Rule for Company Name ---\n  // Extracts 'name' from the 'employer' object.\n  if (inputData.employer && typeof inputData.employer === 'object') {\n    standardJob.company_name = inputData.employer.name || standardJob.company_name;\n  }\n\n  // --- Rule for Location ---\n  // Combines postalCode and city if available.\n  const loc = inputData.location;\n  if (loc && typeof loc === 'object') {\n    const city = loc.city || '';\n    const postalCode = loc.postalCode || '';\n    if (postalCode && city) {\n      standardJob.location = `${postalCode} ${city}`;\n    } else {\n      standardJob.location = city || postalCode || '';\n    }\n  }\n\n  // --- Rule for Salary Range ---\n  // Formats the salary from the baseSalary object.\n  const salary = inputData.baseSalary;\n  if (salary && typeof salary === 'object') {\n    const min = salary.min;\n    const max = salary.max;\n    const currency = salary.currencyCode || '';\n    const unit = salary.unitOfWork || 'period';\n\n    if (min && max) {\n      standardJob.salary_range = `${currency} ${min} - ${max} per ${unit}`;\n    } else if (min) {\n      standardJob.salary_range = `From ${currency} ${min} per ${unit}`;\n    } else if (max) {\n      standardJob.salary_range = `Up to ${currency} ${max} per ${unit}`;\n    }\n  }\n  \n  // --- Rule for Combined Description ---\n  const descriptionParts = [];\n  // 1. Main description text\n  if (inputData.description && inputData.description.text) {\n    descriptionParts.push(inputData.description.text);\n  }\n  // 2. Employer's brief description\n  if (inputData.employer && inputData.employer.briefDescription) {\n    descriptionParts.push(`\\n\\n--- About the Company ---\\n${inputData.employer.briefDescription}`);\n  }\n  // 3. Attributes\n  if (inputData.attributes && typeof inputData.attributes === 'object') {\n    // Object.values() extracts all values from the attributes object\n    const attrs = Object.values(inputData.attributes).filter(val => val);\n    if (attrs.length > 0) {\n      descriptionParts.push(`\\n\\n--- Attributes & Requirements ---\\n- ${attrs.join('\\n- ')}`);\n    }\n  }\n  // 4. Occupations\n  if (inputData.occupations && typeof inputData.occupations === 'object') {\n    const occs = Object.values(inputData.occupations).filter(val => val);\n    if (occs.length > 0) {\n      descriptionParts.push(`\\n\\n--- Relevant Occupations ---\\n- ${occs.join('\\n- ')}`);\n    }\n  }\n  // Join all parts into a single text block\n  standardJob.description = descriptionParts.join('');\n\n\n  // --- Mapping for other fields ---\n  standardJob.job_title = inputData.title || standardJob.job_title;\n  // Prioritize the direct jobUrl over the Indeed tracking url\n  standardJob.application_url = inputData.jobUrl || inputData.url || standardJob.application_url;\n  standardJob.industry = inputData.employer?.industry || standardJob.industry;\n  standardJob.flexibility = inputData.jobTypes?.CF3CP || standardJob.flexibility;\n\n  // Use the accurate date from the scraper if available\n  if (inputData.datePublished) {\n    standardJob.created_at = inputData.datePublished;\n  }\n  \n  return standardJob;\n}\n\n// --- Main Execution Block ---\nconst inputItems = $input.all();\nconst normalizedJobs = inputItems.map(item => {\n  return { json: normalizeJobData(item.json || {}) };\n});\nreturn normalizedJobs;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2840,
        2940
      ],
      "id": "4f81d88b-9c74-4af6-a984-53e2cdd7d862",
      "name": "normalize_indeed_job_data"
    },
    {
      "parameters": {
        "jsCode": "/**\n * Normalizes a raw, structured job object from the Indeed scraper into our standard database format.\n */\nfunction normalizeJobData(inputData) {\n  \n  const standardJob = {\n    id: null,\n    company_name: 'Unknown Company',\n    job_title: 'Unknown Position',\n    application_url: '',\n    location: '',\n    description: '',\n    industry: 'Not specified',\n    flexibility: 'Not specified',\n    salary_range: 'Not specified',\n    status: 'new',\n    source: 'Indeed', // Source is specific to this normalizer\n    created_at: new Date().toISOString()\n  };\n\n  // --- Rule for ID ---\n  // Priorities 'key' as the primary identifier.\n  const raw_id = inputData.key || inputData.id;\n  if (raw_id) {\n    standardJob.id = String(raw_id);\n  }\n\n  // --- Rule for Company Name ---\n  // Extracts 'name' from the 'employer' object.\n  if (inputData.employer && typeof inputData.employer === 'object') {\n    standardJob.company_name = inputData.employer.name || standardJob.company_name;\n  }\n\n  // --- Rule for Location ---\n  // Combines postalCode and city if available.\n  const loc = inputData.location;\n  if (loc && typeof loc === 'object') {\n    const city = loc.city || '';\n    const postalCode = loc.postalCode || '';\n    if (postalCode && city) {\n      standardJob.location = `${postalCode} ${city}`;\n    } else {\n      standardJob.location = city || postalCode || '';\n    }\n  }\n\n  // --- Rule for Salary Range ---\n  // Formats the salary from the baseSalary object.\n  const salary = inputData.baseSalary;\n  if (salary && typeof salary === 'object') {\n    const min = salary.min;\n    const max = salary.max;\n    const currency = salary.currencyCode || '';\n    const unit = salary.unitOfWork || 'period';\n\n    if (min && max) {\n      standardJob.salary_range = `${currency} ${min} - ${max} per ${unit}`;\n    } else if (min) {\n      standardJob.salary_range = `From ${currency} ${min} per ${unit}`;\n    } else if (max) {\n      standardJob.salary_range = `Up to ${currency} ${max} per ${unit}`;\n    }\n  }\n  \n  // --- Rule for Combined Description ---\n  const descriptionParts = [];\n  // 1. Main description text\n  if (inputData.description && inputData.description.text) {\n    descriptionParts.push(inputData.description.text);\n  }\n  // 2. Employer's brief description\n  if (inputData.employer && inputData.employer.briefDescription) {\n    descriptionParts.push(`\\n\\n--- About the Company ---\\n${inputData.employer.briefDescription}`);\n  }\n  // 3. Attributes\n  if (inputData.attributes && typeof inputData.attributes === 'object') {\n    // Object.values() extracts all values from the attributes object\n    const attrs = Object.values(inputData.attributes).filter(val => val);\n    if (attrs.length > 0) {\n      descriptionParts.push(`\\n\\n--- Attributes & Requirements ---\\n- ${attrs.join('\\n- ')}`);\n    }\n  }\n  // 4. Occupations\n  if (inputData.occupations && typeof inputData.occupations === 'object') {\n    const occs = Object.values(inputData.occupations).filter(val => val);\n    if (occs.length > 0) {\n      descriptionParts.push(`\\n\\n--- Relevant Occupations ---\\n- ${occs.join('\\n- ')}`);\n    }\n  }\n  // Join all parts into a single text block\n  standardJob.description = descriptionParts.join('');\n\n\n  // --- Mapping for other fields ---\n  standardJob.job_title = inputData.title || standardJob.job_title;\n  // Prioritize the direct jobUrl over the Indeed tracking url\n  standardJob.application_url = inputData.jobUrl || inputData.url || standardJob.application_url;\n  standardJob.industry = inputData.employer?.industry || standardJob.industry;\n  standardJob.flexibility = inputData.jobTypes?.CF3CP || standardJob.flexibility;\n\n  // Use the accurate date from the scraper if available\n  if (inputData.datePublished) {\n    standardJob.created_at = inputData.datePublished;\n  }\n  \n  return standardJob;\n}\n\n// --- Main Execution Block ---\nconst inputItems = $input.all();\nconst normalizedJobs = inputItems.map(item => {\n  return { json: normalizeJobData(item.json || {}) };\n});\nreturn normalizedJobs;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2840,
        3390
      ],
      "id": "88655546-2531-4f2c-ad47-82ecddf40b2e",
      "name": "normalize_indeed_job_data1"
    },
    {
      "parameters": {
        "amount": "={{ $('Input').first().json.first_timeout }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1960,
        2165
      ],
      "name": "Wait First Timeout",
      "id": "981dcbe9-3b29-4f5c-a0f9-692c3db4ede6",
      "webhookId": "c5cdc3a8-b6a7-420d-8bd1-5c9d80f023e0"
    },
    {
      "parameters": {
        "amount": "={{ $('Input').first().json.first_timeout }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1960,
        2615
      ],
      "name": "Wait First Timeout1",
      "id": "9f4c4239-20cb-44c9-bb96-7733035a4f8b",
      "webhookId": "c5cdc3a8-b6a7-420d-8bd1-5c9d80f023e0"
    },
    {
      "parameters": {
        "amount": "={{ $('Input').first().json.first_timeout }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1960,
        3065
      ],
      "name": "Wait First Timeout2",
      "id": "b713e7bd-7054-4cf8-8987-2b374b2575e1",
      "webhookId": "2fa06f4d-0236-4a1c-8621-89c16138cd6c"
    },
    {
      "parameters": {
        "amount": "={{ $('Input').first().json.first_timeout }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1960,
        3515
      ],
      "name": "Wait First Timeout3",
      "id": "e073e690-95ee-4f4c-bd6a-f09fc7e80cb5",
      "webhookId": "7edffa70-6b6d-43ae-af87-eb45dbea0da6"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=# Task: Write Cover Letter\n\nYour primary goal is to write a compelling cover letter based on the provided strategy.\n\n## Cover Letter Strategy Brief\n{{ JSON.stringify( $json.cover_letter_strategy ) }}\n\n---\n\n## IMPORTANT: Foundational Rules\n\nYou MUST strictly adhere to all rules outlined in your System Prompt (conciseness, authenticity, company-focus, structure, etc.). Use the Strategy Brief to guide your content and the Foundational Rules to guide your style and structure.",
        "options": {
          "systemMessage": "=# Cover Letter Assistant\n\nYou are a professional cover letter consultant who creates authentic, targeted, and personalized cover letters. Your task is to create an effective cover letter based on a job description and resume.\n\n## Cover Letter Guidelines\n\n### Core Principles\n\n1. **Company-needs focused**: Start with \"how my skills solve this company's specific problems\" rather than simply listing personal achievements\n2. **Concise and direct**: Use clear, short sentences; avoid complex structures and decorative vocabulary\n3. **Authentic personality**: Show the applicant's genuine work style and personality, avoid clichés\n4. **Targeted approach**: Address key requirements from the job description directly, not vaguely\n5. **Quality over quantity**: Prefer a few powerful examples rather than many vague accomplishments\n\n### Structure Suggestions\n\n**Opening paragraph**:\n- Briefly express why you're interested in this position\n- Mention a specific company project, value, or challenge, showing your research\n- Keep within 2-3 short sentences\n\n**Skills matching paragraphs**:\n- Focus each paragraph on one core skill or company need\n- State the company's need first, then introduce your relevant experience\n- Provide 1-2 specific examples, using data only when actually supported\n- Keep each paragraph to 3-4 short sentences\n\n**Unique value paragraph**:\n- Include a paragraph showcasing your unique advantage\n- This could be a relevant side project, special skill, or personal work approach\n- Show how this unique value benefits the company\n\n**Closing paragraph**:\n- Simply express your interest in further discussion\n- Consider mentioning your personal website or portfolio\n- Keep it brief, 2-3 sentences is enough\n\n### Language Style Guide\n\n- Use active language, avoid passive voice\n- Avoid clichés like \"I am excited to apply...\" or \"I believe I am the best candidate...\"\n- Adjust tone for company culture: technical companies use precise terminology, creative companies emphasize innovative thinking, etc.\n- Use natural, conversational language, as if talking with the hiring manager\n\n### Common Mistakes to Avoid\n\n- Overusing industry jargon and abbreviations\n- Long paragraphs and complex sentences\n- Data claims without supporting context\n- Vague achievement descriptions\n- Too much focus on \"what I did\" rather than \"what I can do for you\"\n\n## Final Check\n\nBefore finalizing, ensure the cover letter:\n- Totals 300-400 words (not exceeding one page)\n- Uses no templated expressions or business clichés\n- Addresses all key requirements from the job description\n- Has a clear focus and natural transitions in each paragraph\n- Shows the applicant's personality and work style\n- Is oriented toward solving company problems\n\nPlease create a cover letter following these guidelines, keeping it authentic, concise, and targeted.\n\nNow, wait for the user to provide the job description and master resume."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        3460,
        4340
      ],
      "id": "39f32a94-08cd-4f27-9a89-5d9807f28b0a",
      "name": "Cover Letter Agent"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=## Job Description\n{{ $('Get Job Posting').item.json.description }}\n\n## Master CV\n{{ $('Extract Text from CV').item.json.text }}\n",
        "options": {
          "systemMessage": "=You are a world-class strategic career consultant and HR expert. Your task is to analyze a candidate's master resume and a specific job description to create a concise, actionable JSON \"strategy brief\". This brief will be the single source of truth for two separate specialist agents—a Resume Writer and a Cover Letter Writer.\n\nYour entire response MUST be a single, valid JSON object and nothing else. Adhere strictly to the defined JSON structure.\n\n### Core Strategic Principles\n\n1.  **ATS Optimization:** The primary goal is to pass automated tracking systems (ATS). The strategy must identify and map keywords from the job description to the candidate's skills and experience.\n2.  **Chronological & Relevant Ordering:** The resume's experience section must be chronological (most recent first). The projects section should be ordered by direct relevance to the target role.\n3.  **Completeness and Honesty:** All languages must be listed. When discussing education, the strategy must be honest about the candidate's academic status, framing it positively.\n4.  **Professional Tone:** All generated content and guidance must be highly professional and tailored to the company's perceived tone.\n\n### Required JSON Output Structure\n\n{\n  \"resume_strategy\": {\n    \"ats_keywords\": [\n      \"Extract a list of the 5-10 most critical keywords (nouns and technical terms) from the job description that an automated screening system would look for.\"\n    ],\n    \"summary_focus\": \"Rewrite the candidate's professional summary (2-3 sentences) to perfectly mirror the language of the job title and its top 2-3 requirements. It must integrate the most important ats_keywords naturally.\",\n    \"experience_guidance\": [\n      {\n        \"company\": \"Company Name from CV\",\n        \"title\": \"Job Title from CV\",\n        \"is_highly_relevant\": \"A boolean (true/false) indicating if this experience is critical for the target role.\",\n        \"tailoring_notes\": \"For highly relevant jobs, select the 2-3 bullet points that best demonstrate the ats_keywords. For less relevant jobs, select only the single most impactful bullet point.\"\n      }\n    ],\n    \"project_guidance\": [\n        {\n            \"name\": \"Project Name from CV\",\n            \"is_highly_relevant\": \"A boolean (true/false).\",\n            \"tailoring_notes\": \"Briefly describe how to frame this project's description and bullet points to directly address the key requirements of the job.\"\n        }\n    ],\n    \"skills_to_highlight\": [\"List the most relevant technical and soft skills from the CV that match the ats_keywords and job requirements. Include all language skills.\"],\n  },\n  \"cover_letter_strategy\": {\n    \"opening_hook\": \"A compelling opening sentence (max. 2 sentences) that connects the candidate's core strength to a specific, tangible aspect of the company or the role described.\",\n    \"core_narrative\": \"A 1-2 sentence summary of the main value proposition. This is the central theme of the letter. Example: 'My practical experience in building end-to-end ML pipelines for large-scale data directly addresses your need for robust, production-ready systems.'\",\n    \"evidence_points\": [\n      \"List 2-3 key pieces of evidence from the resume or projects that support the core_narrative. These must be the strongest proofs of the candidate's ability to solve the company's problem.\"\n    ],\n    \"company_tone\": \"Formal/Corporate OR Startup/Casual OR Academic/Technical\"\n  }\n}\n\n### Final Instructions\n- Ensure the `experience_guidance` array is ordered chronologically, with the most recent job first.\n- Ensure the `project_guidance` array is ordered by importance, with the most relevant project first.\n- The `skills_to_highlight` array must include all languages listed in the master CV."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        2860,
        4140
      ],
      "id": "6bad2386-7819-467a-a2c6-b55c8b835686",
      "name": "Orchestrator Agent"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        2640,
        4140
      ],
      "id": "b79bff5c-c6ca-42e1-ae08-ca1b1f6d5e44",
      "name": "Extract Text from CV"
    },
    {
      "parameters": {
        "jsCode": "// Get the raw string output from the Orchestrator Agent\nconst rawOutput = $input.first().json.output;\n\nif (!rawOutput || typeof rawOutput !== 'string') {\n  throw new Error(\"Input from Orchestrator Agent is not a valid string.\");\n}\n\n// --- 1. Clean the String ---\n// Remove the markdown fences and any surrounding whitespace.\nlet cleanedString = rawOutput.trim();\nif (cleanedString.startsWith(\"```json\")) {\n  cleanedString = cleanedString.substring(7).trimStart(); // Remove ```json\n}\nif (cleanedString.endsWith(\"```\")) {\n  cleanedString = cleanedString.slice(0, -3).trimEnd(); // Remove ```\n}\n\n// --- 2. Parse the Cleaned String into a JSON Object ---\ntry {\n  const parsedJson = JSON.parse(cleanedString);\n  \n  // Return the parsed object. The downstream nodes can now access\n  // its properties, e.g., parsedJson.resume_strategy\n  return parsedJson;\n\n} catch (error) {\n  console.log(\"Failed to parse the cleaned string into JSON. Raw string was:\", cleanedString);\n  throw new Error(`JSON Parsing Error: ${error.message}`);\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3240,
        4140
      ],
      "id": "3325c3c0-cdb8-4347-9ede-7de3f54a41b4",
      "name": "Parse Strategy JSON"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro-preview-06-05",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        2860,
        4360
      ],
      "id": "9e0f40bc-0548-49be-9906-d2bdb678f496",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "aw7Pold22PTIhMYc",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "import json\nfrom datetime import datetime, timezone\n\n# Get data from the two preceding nodes\nall_scraped_items = _('Scraped_Aggregated').all()[0].get('json').get('data')\nexisting_jobs_items = _('Get Existing Jobs from DB').all()\n\n# ======================= DE-DUPLICATE SCRAPED JOBS =======================\nunique_scraped_jobs = []\nseen_ids_in_scrape = set()\n\nprint(f\"Received: {len(all_scraped_items)} scraped jobs (including potential duplicates).\")\n\nfor scraped_job in all_scraped_items:\n    # Ensure the ID is always a string\n    job_id = str(scraped_job.get('id'))\n\n    # Only add the job to the list if we haven't seen this ID in this run\n    if job_id and job_id not in seen_ids_in_scrape:\n        unique_scraped_jobs.append(scraped_job)\n        # Remember the ID so we don't add it again\n        seen_ids_in_scrape.add(job_id)\n\nprint(f\"After de-duplication: {len(unique_scraped_jobs)} unique jobs will be processed.\")\n# ===================================== END OF BLOCK =====================================\n\n# Create a dictionary of existing jobs for very fast lookups.\n# The key is the job ID, the value is the complete job object from the DB.\nexisting_jobs_dict = {\n    str(item.get('json').get('id')): item.get('json', {})\n    for item in existing_jobs_items\n}\n\n# Initialize the lists for the two output branches\nnew_jobs_to_insert = []\nupdates_to_execute = []\n\ncurrent_timestamp = datetime.now(timezone.utc).isoformat()\n\n# --- THE CORE LOGIC ---\n# Loop through each unique scraped job\nfor scraped_job in unique_scraped_jobs:\n    job_id = str(scraped_job.get('id'))\n\n    if not job_id:\n        continue # Skip jobs without an ID\n\n    if job_id in existing_jobs_dict:\n        # --- CASE B: EXISTING JOB -> PREPARE DYNAMIC UPDATE ---\n        existing_job = existing_jobs_dict[job_id]\n        \n        update_fields = []\n        params = []\n        \n        # Add the fields that are always updated\n        update_fields.append(\"last_scraped_at\")\n        params.append(current_timestamp)\n        \n        update_fields.append(\"occurrence_count\")\n        params.append(existing_job.get('occurrence_count', 0) + 1)\n        \n        # --- CHANGE DETECTION: Only add fields that have changed ---\n        fields_to_check = ['job_title', 'location', 'company_name', 'description', 'application_url']\n        \n        for field in fields_to_check:\n            scraped_value = str(scraped_job.get(field, '')).strip()\n            existing_value = str(existing_job.get(field, '')).strip()\n            \n            if scraped_value != existing_value and scraped_value != '':\n                update_fields.append(field)\n                params.append(scraped_value)\n        \n        # Build the SET clause with the correct $1, $2... placeholders\n        # enumerate(..., 1) starts the counter at 1\n        set_clauses = [f'\"{field}\" = ${i}' for i, field in enumerate(update_fields, 1)]\n        \n        # Add the ID as the last parameter for the WHERE clause\n        # The placeholder number is the total number of parameters + 1\n        where_param_index = len(params) + 1\n        params.append(job_id)\n        \n        # Assemble the final, correctly formatted SQL query\n        query_string = f\"UPDATE job_listings SET {', '.join(set_clauses)} WHERE id = ${where_param_index};\"\n        \n        updates_to_execute.append({\n            'json': {\n                'query': query_string,\n                'params': params\n            }\n        })\n\n    else:\n        # --- CASE A: NEW JOB -> MARK FOR INSERTION ---\n        new_jobs_to_insert.append(scraped_job)\n\n# Return the two separated lists for the next steps in the workflow\nreturn [{\n    'json': {\n        'new_jobs_to_insert': new_jobs_to_insert,\n        'updates_to_execute': updates_to_execute,\n    }\n}]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3720,
        2715
      ],
      "id": "2980925c-3b4c-498d-be97-43b8f1c750d0",
      "name": "De-Duplicate"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-lite-preview-06-17",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        5284,
        3035
      ],
      "id": "250e12a9-a71e-4f29-9b8e-b5e25e9f9308",
      "name": "Google Gemini Chat Model2",
      "credentials": {
        "googlePalmApi": {
          "id": "aw7Pold22PTIhMYc",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "# import json\n# job_info = _('Get Job Posting').first()\n# body = _('Markdown1').all()[0].get('json').get('data')\n# attachments = _('HTTP Request: Compile PDF').first().json.pdf_path\n# # error_log = _('Set Resume Result') #doenst exists when no error at http request node\n# final_output = {\n#     # 'subject': subject,\n    \n#     'body': body,\n#     'attachments': attachments\n# }\n\n# return final_output\n\nimport json\n\n# Get the job info for the email subject\njob_info = _('Get Job Posting').first().json\n\n# Get the pre-formatted HTML body for the email\nbody = _('Markdown1').first().json.get('data', '')\n\n# # --- Attachment Preparation ---\n# # Get the binary data of the PDF from the node that read the file\n# # The data is under the 'binary' property of the item\n# # pdf_binary_data = _('Read Generated PDF').first().binary.get('data')\n# pdf_binary_data = _('Extract from File')\n\n# # Get the correct PDF filename from the node where it was created\n# # pdf_filename = _('Prepare LaTeX File').first().json.get('pdf_filename', 'document.pdf')\n# pdf_filename = _('HTTP Request: Compile PDF').first().json.pdf_path\n\n# # Create the attachment object in the format n8n's Gmail node expects\n# attachments = [\n#   {\n#     \"content\": pdf_binary_data,\n#     \"fileName\": pdf_filename,\n#     \"contentType\": \"application/pdf\"\n#   }\n# ]\n\n# --- Final Output ---\n# Assemble the final object for the Gmail node\nfinal_output = {\n    'subject': f\"Your Generated Documents for {job_info.get('job_title', 'a position')} at {job_info.get('company_name', 'a company')}\",\n    'body': body,\n    # 'attachments': attachments\n}\n\n# Return the final object\nreturn final_output"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5680,
        4340
      ],
      "id": "f1173d78-15e8-4b53-aa58-2d054a0e7f7c",
      "name": "Build Email"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b166583b-103a-40f3-af5c-2f01a4112ee3",
              "name": "resume_success",
              "value": "={{ !$json.error }}",
              "type": "string"
            },
            {
              "id": "28aa53d0-58e2-404c-b964-184a7a2335f1",
              "name": "",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5680,
        4100
      ],
      "id": "219cdd47-f7b3-4ced-b0d0-c2cf203e96bc",
      "name": "Set Resume Result"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        5900,
        4140
      ],
      "id": "70316ca1-caa2-4b87-b4e5-d47adc0b7b65",
      "name": "Merge1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=# Task: Generate Resume Content as JSON\n\nUse the provided \"Resume Strategy Brief\" to select content and populate the LaTeX template according to your system prompt rules. Adhere strictly to the provided selections.\n\n## Resume Strategy Brief\n{{ JSON.stringify($json.resume_strategy) }}\n\n## Candidate's Personalization Notes:\n{{ $('Input2').item.json.PersonalizationNotes }}\n\n\n- Please do not omit any experiences entirely and ensure they are presented in chronological order\n- loop through all experiences and projects provided in the experience_guidance and project_guidance arrays. \n- Using the is_highly_relevant flag and tailoring_notes, to decide how to format each entry\n— giving more detail and prominence to the important roles and keeping less relevant ones concise.\n- Use the `summary_focus` for the summary section.\n- For the skills section, use ONLY the skills listed in `key_skills_to_highlight`.",
        "options": {
          "systemMessage": "=You are an expert resume writer. Your task is to generate the textual content for a resume based on a provided strategy brief and a master CV.\n\n\nContext: User's Master CV\n\n{{ JSON.stringify($('Extract Text from CV').item.json.text) }}\n\nYour entire response MUST be a single, valid JSON object. \n\nThe JSON object must have the following structure:\n{ \"personal_info\": {\n    \"name\": \"Candidate Name\",\n    \"title\": \"Job Title\",\n    \"contact\": {\n      \"email\": \"email@adress.com\",\n      \"phone\": \"+12 3456 7890\",\n      \"linkedin\": \"www.linkedin.com/in/candidte-profil-123\",\n      \"location\": \"City, Country\"\n    }\n  },\n  \"summary\": \"A concise, tailored professional summary as a single plain-text string.\",\n  \"experience\": [\n    {\n      \"company\": \"Company Name\",\n      \"title\": \"Job Title\",\n      \"location\": \"Dates | City, Country\",\n      \"bullet_points\": [\n        \"A plain-text bullet point.\",\n        \"Another plain-text bullet point.\"\n      ]\n    }\n  ],\n  \"projects\": [\n    {\n      \"Project\": \"Project Name\",\n      \"bullet_points\": [\n        \"A plain-text bullet point.\",\n        \"Another plain-text bullet point.\"\n      ]\n    }\n  ],\n  \"education\": [\n    {\n      \"university\": \"University Name\",\n      \"degree\": \"Degree Name\",\n      \"location\": \"Dates | City, Country\",\n      \"details\": \"A single line of text for coursework or thesis details.\"\n    }\n  ],\n  \"skills\": [\n      {\n          \"category\": \"Skill Category Name\",\n          \"skill_list\": \"A single string of skills, separated by commas.\"\n      }\n  ]\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        3840,
        3900
      ],
      "id": "d3989a8c-0dc3-47f9-9e76-63d868432334",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "deepseek-reasoner",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        3920,
        4120
      ],
      "id": "0ab88916-2eff-4c0a-8eb1-5781addedd34",
      "name": "DeepSeek Chat Model",
      "credentials": {
        "deepSeekApi": {
          "id": "ulkWYFwSYDP4zvCM",
          "name": "DeepSeek account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get the raw string output from the Orchestrator Agent\nconst rawOutput = $input.first().json.output;\n\nif (!rawOutput || typeof rawOutput !== 'string') {\n  throw new Error(\"Input from Orchestrator Agent is not a valid string.\");\n}\n\n// --- 1. Clean the String ---\n// Remove the markdown fences and any surrounding whitespace.\nlet cleanedString = rawOutput.trim();\nif (cleanedString.startsWith(\"```json\")) {\n  cleanedString = cleanedString.substring(7).trimStart(); // Remove ```json\n}\nif (cleanedString.endsWith(\"```\")) {\n  cleanedString = cleanedString.slice(0, -3).trimEnd(); // Remove ```\n}\n\n// --- 2. Parse the Cleaned String into a JSON Object ---\ntry {\n  const parsedJson = JSON.parse(cleanedString);\n  \n  // Return the parsed object. The downstream nodes can now access\n  // its properties, e.g., parsedJson.resume_strategy\n  return parsedJson;\n\n} catch (error) {\n  console.log(\"Failed to parse the cleaned string into JSON. Raw string was:\", cleanedString);\n  throw new Error(`JSON Parsing Error: ${error.message}`);\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4220,
        4000
      ],
      "id": "60d825e8-b0f8-4eeb-857e-5b88c3fa3c3c",
      "name": "Parse Resume JSON"
    },
    {
      "parameters": {
        "jsCode": "// This function now generates a plain text description without HTML.\nfunction normalizeLinkedInJob(data) {\n  const standardJob = {\n    id: null, company_name: 'Unknown Company', job_title: 'Unknown Position',\n    application_url: '', location: '', description: '', industry: 'Not specified',\n    flexibility: 'Not specified', salary_range: 'Not specified', status: 'new',\n    source: data.source || 'LinkedIn', created_at: new Date().toISOString()\n  };\n\n  // --- MAPPING LOGIC FOR LINKEDIN (unverändert) ---\n  if (data.id) standardJob.id = String(data.id);\n  if (data.postedDate) standardJob.created_at = data.postedDate;\n  if (data.companyName) standardJob.company_name = data.companyName;\n  if (data.title) standardJob.job_title = data.title;\n  if (data.applyUrl || data.url) standardJob.application_url = data.applyUrl || data.url;\n  if (data.location) standardJob.location = data.location;\n  if (data.sector) standardJob.industry = data.sector;\n  if (data.contractType) standardJob.flexibility = data.contractType;\n  if (data.salary) standardJob.salary_range = data.salary;\n\n  // --- Rule for Combined Description (PLAIN TEXT FORMAT) ---\n  const descriptionParts = [];\n  \n  // 1. Main description text (we use the plain 'description' field)\n  if (data.description) {\n    descriptionParts.push(data.description);\n  }\n  \n  // 2. Add other attributes as a plain text block\n  const details = [];\n  if (data.experienceLevel) {\n    details.push(`Experience Level: ${data.experienceLevel}`);\n  }\n  if (data.workType) {\n    details.push(`Work Type: ${data.workType}`);\n  }\n  if (data.sector) {\n    details.push(`Sector: ${data.sector}`);\n  }\n  if (data.recruiterName) {\n    details.push(`Recruiter: ${data.recruiterName}`);\n  }\n  \n  if (details.length > 0) {\n    // Add a text separator and join the details with newline characters\n    descriptionParts.push(\"\\n\\n--- Job Details ---\\n\" + details.join('\\n'));\n  }\n\n  // Join all parts into a single plain text string with double newlines\n  standardJob.description = descriptionParts.join('');\n\n  return standardJob;\n}\n\n\n// A dedicated function to parse the rich format from the Indeed scraper\nfunction normalizeIndeedJob(data) {\n    // This function remains the same as before to handle the Indeed format\n    const standardJob = {\n        id: null, company_name: 'Unknown Company', job_title: 'Unknown Position',\n        application_url: '', location: '', description: '', industry: 'Not specified',\n        flexibility: 'Not specified', salary_range: 'Not specified', status: 'new',\n        source: data.source || 'Indeed', created_at: new Date().toISOString()\n    };\n    const raw_id = data.key || data.id;\n    if (raw_id) standardJob.id = String(raw_id);\n    if (data.datePublished) standardJob.created_at = data.datePublished;\n    if (data.employer?.name) standardJob.company_name = data.employer.name;\n    if (data.title) standardJob.job_title = data.title;\n    if (data.jobUrl || data.url) standardJob.application_url = data.jobUrl || data.url;\n    const loc = data.location;\n    if (loc && typeof loc === 'object') {\n        const city = loc.city || '', postalCode = loc.postalCode || '';\n        if (postalCode && city) standardJob.location = `${postalCode} ${city}`;\n        else standardJob.location = city || postalCode;\n    } else if (typeof loc === 'string') {\n        standardJob.location = loc;\n    }\n    const salary = data.baseSalary;\n    if (salary && typeof salary === 'object') {\n        const min = salary.min, max = salary.max, currency = salary.currencyCode || '', unit = salary.unitOfWork || 'period';\n        if (min && max) standardJob.salary_range = `${currency} ${min} - ${max} per ${unit}`;\n        else if (min) standardJob.salary_range = `From ${currency} ${min} per ${unit}`;\n        else if (max) standardJob.salary_range = `Up to ${currency} ${max} per ${unit}`;\n    } else if (typeof salary === 'string') {\n        standardJob.salary_range = salary;\n    }\n    const descriptionValue = data.description;\n    if (typeof descriptionValue === 'object' && descriptionValue !== null) {\n        standardJob.description = descriptionValue.html || descriptionValue.text || '';\n    } else if (typeof descriptionValue === 'string') {\n        standardJob.description = descriptionValue;\n    }\n    return standardJob;\n}\n\n// --- Main Normalization \"Router\" Function ---\nfunction normalizeJobData(inputData) {\n  if (inputData && (inputData.employer || inputData.baseSalary)) {\n    console.log(\"Detected Indeed (rich schema) format for job ID:\", inputData.key);\n    return normalizeIndeedJob(inputData);\n  }\n  if (inputData && (inputData.companyName || inputData.postedTimeAgo)) {\n    console.log(\"Detected LinkedIn format for job ID:\", inputData.id);\n    return normalizeLinkedInJob(inputData);\n  }\n  console.log(\"Using LinkedIn format as default for job ID:\", inputData.id);\n  return normalizeLinkedInJob(inputData); // Fallback to LinkedIn parser\n}\n\n// --- Main Execution Block ---\nconst inputItems = $input.all();\nconst normalizedJobs = inputItems.map(item => {\n  const inputData = item.json || {};\n  if (!inputData.source && item.from) {\n      if (item.from.node.name.toLowerCase().includes('linkedin')) {\n          inputData.source = 'LinkedIn';\n      } else if (item.from.node.name.toLowerCase().includes('indeed')) {\n          inputData.source = 'Indeed';\n      }\n  }\n  return { json: normalizeJobData(inputData) };\n});\n\nreturn normalizedJobs;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2840,
        2040
      ],
      "id": "0596b067-d45f-4a39-97e1-b6f4eabc4789",
      "name": "normalize_linkedin_job_data1"
    },
    {
      "parameters": {
        "url": "=https://api.apify.com/v2/actor-runs/{{ $('Extract Run ID').item.json.runId }}/dataset/items?token={{ $('Input').item.json.ApifyAPIKey }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2620,
        2040
      ],
      "name": "Get Dataset Items",
      "id": "3bebaf85-8d12-4ce3-a958-13ab9b4e5c07"
    },
    {
      "parameters": {
        "content": "## Automated Job Application Assistant\n\n**Author:** HAOW\n**Project Goal:** To create a self-hosted, automated system that scrapes job postings, uses a multi-agent AI to find the best matches, and generates tailored application documents on demand.\n\n**Core Workflows:**\n1.  **Scheduled Job Search (Top):** Runs daily to find, analyze, and store new job postings, sending an email with top recommendations.\n2.  **On-Demand Document Generation (Bottom):** Triggered by a webhook to create a tailored Resume and Cover Letter for a specific job.",
        "height": 720,
        "width": 620,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -140,
        1740
      ],
      "id": "6c50498e-8b14-4e1a-93e4-77b55310ebd8",
      "name": "Project Overview"
    },
    {
      "parameters": {
        "content": "### Setup Guide\n\n**1. Configure Input Variables:**\nOpen the `Workflow Inputs` node and ensure all variables are loaded correctly from your `.env` file.\n\n**2. Configure LinkedIn Search:**\n- In the `Start LinkedIn Scraper` node, customize the `jsonBody` with your desired keywords, location, etc.\n- Further information can be found in the [Apify Actor Site](https://apify.com/valig/linkedin-jobs-scraper)\n\n**3. Configure Indeed Search:**\n- In the `Start Indeed Scraper` node, customize the `jsonBody` with your desired keywords, location, etc.\n- Further information can be found in the [Apify Actor Site](https://apify.com/valig/indeed-jobs-scraper)\n\n\n**4. Upload Your master CV or Resume:**\n- Upload your master CV in PDF format to Google Drive.\n- The Master CV should contain detailed information about your experience, education, projects and skills.\n- In the `Download Master CV` node, update the `File ID` to point to your resume.",
        "height": 700,
        "width": 680,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        520,
        1760
      ],
      "id": "819d7d76-32a4-4723-be89-a39f9b2435b8",
      "name": "Setup Guide",
      "width": 600
    },
    {
      "parameters": {
        "content": "### AI Agent: Find Best-matched jobs\n\nThis is the core matching node.\n\n**Inputs:**\n- A list of newly inserted job postings.\n- The user's full CV text.\n- The user's job preferences.\n\n**Output:**\nA structured list of the top job recommendations with a detailed `Reason for Match` for each one.",
        "height": 840,
        "width": 740
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4766,
        2335
      ],
      "id": "1cc16cd2-5e9b-4a53-b2e5-d9c0ceb42cff",
      "name": "Note"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1RWvsyre4BnUlMiIVA2Br-pMlOdOkVYGr",
          "mode": "list",
          "cachedResultName": "Master CV July25.pdf",
          "cachedResultUrl": "https://drive.google.com/file/d/1RWvsyre4BnUlMiIVA2Br-pMlOdOkVYGr/view?usp=drivesdk"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        660,
        2840
      ],
      "id": "2d92c3b4-180d-43fc-a142-9166545c0418",
      "name": "Download Master CV",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "cvvDSIH6tNL6oISu",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "content": "### Workflow 2: On-Demand Document Generation\n\nThis entire workflow is triggered by a Webhook link from the recommendation email. It generates a tailored Resume and Cover Letter for a specific job ID.\n\n- **Get Job Posting** Fetches the specific job's details from the database.\n- **Orchestrator Agent:** The AI \"Strategist\" analyzes the job and CV to create a JSON plan.\n- **Specialist Agents:** The Resume and Cover Letter agents execute the plan.\n- **HTTP Request (Compile PDF):** Sends the final LaTeX code to the secure, self-hosted LaTeX microservice to be compiled into a PDF.",
        "height": 440,
        "width": 660,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        440,
        3600
      ],
      "typeVersion": 1,
      "id": "e86806ae-5bbe-4a65-ade5-30fee4d6de9d",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "### 1. Initialization & Configuration\n\n- **Schedule Trigger:** Starts the workflow automatically every day at a set time.\n- **Workflow Inputs:** A central `Set` node that loads key variables (API keys, email, job preferences) from the `.env` file. This makes the workflow easily configurable.\n- **Init DB:** Executes a `CREATE TABLE IF NOT EXISTS` query to ensure the `job_listings` table exists. This makes the workflow robust on its first run.",
        "height": 480,
        "width": 700
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -100,
        2520
      ],
      "typeVersion": 1,
      "id": "49d9d309-a109-4d04-82a5-88dd8cfe459a",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "### 2. Scrape & Normalize (Parallel)\n\nThese two branches run in parallel to scrape data from LinkedIn and Indeed.\n\n- **Start Scraper:** Makes a `POST` request to the Apify API to start a new scraper run.\n- **Poll & Get Data:** This block of nodes loops, checking the Apify API every 30 seconds. Once the run succeeds, it fetches the scraped job data.\n- **Normalize Data:** A crucial step. This node transforms the raw, inconsistent JSON from the scraper into a clean, standardized format for our database.",
        "height": 1980,
        "width": 1540
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1440,
        1800
      ],
      "typeVersion": 1,
      "id": "e238a8a6-6de8-4007-bbb0-c3c511718bc2",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "### 3. The Brain: De-duplication & Sorting\n\nThis is the core of the data processing logic.\n\n- **Merge Normalized Jobs:** Collects the clean data from all sources into a single stream.\n- **Get Existing Jobs from DB:** Takes all scraped IDs and makes **one** efficient query to the database to fetch records it already knows. The `Execute Once` setting is critical here.\n- **Code (De-Dublicate) - Sort Jobs:** This Python node compares the two lists and intelligently sorts every unique job into one of two outputs: `new_jobs_to_insert` or `existing_jobs_to_update`.",
        "height": 960,
        "width": 820
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3030,
        1936
      ],
      "typeVersion": 1,
      "id": "3ef9414a-a176-4ee5-916d-32c505df0865",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "### 4. Database Operations & AI Matching\n\nThe workflow now splits into two branches:\n\n- **Top Path (Existing Jobs):** The `existing_jobs_to_update` list is split, and each existing job record is updated with a new `last_scraped_at` timestamp and an incremented `occurrence_count`.\n- **Bottom Path (New Jobs):** The `new_jobs_to_insert` list is split, and each new job is added to the database. These new jobs are then passed to the `AI Agent` for analysis and matching.\n",
        "height": 960,
        "width": 640
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3890,
        2015
      ],
      "typeVersion": 1,
      "id": "310a35b1-887f-4886-a8fb-1782683f54d4",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.output }}",
        "options": {
          "systemMessage": "You are a helpful assistant. You help to parse the output of an agent to the json of the format:\n[\n  {\n    \"database_id\": 1,\n    \"Company Name\": \"name of the company\",\n    \"Job Title\": \"Senior Software Engineer\",\n    \"Industry\": \"Technology / SaaS\",\n    \"Reason for Match\": \"Strong alignment with your 7 years of backend development experience (Java/Spring) listed in CV and your preference for mid-sized tech companies.\",\n    \"Application URL\": \"https://linkedin.com/jobs/view/1234567890\",\n    \"Location\": \"San Francisco, CA\",\n    \"Flexibility\": \"Hybrid\",\n    \"Salary Range\": \"$120,000 - $150,000\"\n  }\n]"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        5196,
        2815
      ],
      "id": "f8affcb2-0a9f-43df-89d4-b0ca663c7839",
      "name": "Parser"
    },
    {
      "parameters": {
        "jsCode": "// Get the raw string output from the Orchestrator Agent\nconst rawOutput = $input.first().json.output;\n\nif (!rawOutput || typeof rawOutput !== 'string') {\n  throw new Error(\"Input from Parser Agent is not a valid string.\");\n}\n\n// --- 1. Clean the String ---\n// Remove the markdown fences and any surrounding whitespace.\nlet cleanedString = rawOutput.trim();\nif (cleanedString.startsWith(\"```json\")) {\n  cleanedString = cleanedString.substring(7).trimStart(); // Remove ```json\n}\nif (cleanedString.endsWith(\"```\")) {\n  cleanedString = cleanedString.slice(0, -3).trimEnd(); // Remove ```\n}\n\n// --- 2. Parse the Cleaned String into a JSON Object ---\ntry {\n  const parsedJson = JSON.parse(cleanedString);\n  \n  // Return the parsed object. The downstream nodes can now access\n  // its properties, e.g., parsedJson.resume_strategy\n  return parsedJson;\n\n} catch (error) {\n  console.log(\"Failed to parse the cleaned string into JSON. Raw string was:\", cleanedString);\n  throw new Error(`JSON Parsing Error: ${error.message}`);\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5572,
        2815
      ],
      "id": "a9fced38-4ece-458d-a384-6f0b91ebddd3",
      "name": "Parse JSON"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        5792,
        2815
      ],
      "id": "7209d157-e2da-4c5b-be19-756d0be2c5bb",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "87465f66-97a5-40b0-a75e-a68da164f6e8",
              "name": "data",
              "value": "={\n    \"matchedJobs\": [\n      {\n        \"database_id\": \"c4728de3c549eaf9\",\n        \"Company Name\": \"Finanztip Verbraucherinformation GmbH\",\n        \"Job Title\": \"Werkstudent*in Data Science (all genders)\",\n        \"Industry\": \"Not specified\",\n        \"Reason for Match\": \"Excellent match for a junior data science role in Munich. Directly aligns with your Data Science coursework, practical experience with Python and SQL, and native German proficiency.\",\n        \"Application URL\": \"https://t.gohiring.com/h/5b4e152b5f059415137087e72d9c3ab64b3b51551022f5530ca9a3e0d8f1c968?source=Indeed\",\n        \"Location\": \"81671 München\",\n        \"Flexibility\": \"Not specified\",\n        \"Salary Range\": \"Not specified\"\n      },\n      {\n        \"database_id\": \"55486f3995d52645\",\n        \"Company Name\": \"EFESO Management Consultants\",\n        \"Job Title\": \"Praktikant (all genders) im Bereich Künstliche Intelligenz\",\n        \"Industry\": \"Not specified\",\n        \"Reason for Match\": \"Perfectly matches your project experience in applied AI and LLMs. This internship in Munich offers hands-on experience with Python, GPT, and modern AI frameworks that you are skilled in.\",\n        \"Application URL\": \"https://t.gohiring.com/h/eaddbd0b196b5f7bbeda6928b197dbb97a2c8b94ba8a1c94fc71b4b20c8726bb?source=Indeed\",\n        \"Location\": \"80797 München\",\n        \"Flexibility\": \"Vollzeit\",\n        \"Salary Range\": \"Not specified\"\n      },\n      {\n        \"database_id\": \"c83b7b064f423054\",\n        \"Company Name\": \"Celonis\",\n        \"Job Title\": \"Associate Technology Consultant - Galaxy Program\",\n        \"Industry\": \"Not specified\",\n        \"Reason for Match\": \"This graduate program is an ideal entry point, matching your preference for a junior role in Munich. It leverages your strong background in Data Mining, Python, and SQL, and requires native German skills.\",\n        \"Application URL\": \"https://grnh.se/0304d1783us\",\n        \"Location\": \"München\",\n        \"Flexibility\": \"Vollzeit\",\n        \"Salary Range\": \"Not specified\"\n      },\n      {\n        \"database_id\": \"196d17a92a6b29b0\",\n        \"Company Name\": \"Max-Planck-Gesellschaft\",\n        \"Job Title\": \"Aushilfe mit KI/Chat GPT-Expertise in Teilzeit (6 Std./Woche) (all genders)\",\n        \"Industry\": \"Not specified\",\n        \"Reason for Match\": \"Strongly aligns with your personal projects using LLMs and prompt engineering. This role in Garching offers a great opportunity to apply your cutting-edge AI skills in a renowned research environment.\",\n        \"Application URL\": \"https://www.mpg.de/25086315/aushilfe-mit-ki-chatgpt-expertise-in-teilzeit-6std\",\n        \"Location\": \"85748 Garching bei München\",\n        \"Flexibility\": \"Not specified\",\n        \"Salary Range\": \"Not specified\"\n      },\n      {\n        \"database_id\": \"08dd74d5ca6f630f\",\n        \"Company Name\": \"Dassault Systèmes\",\n        \"Job Title\": \"Working Student (m/f/d) – AI Developer\",\n        \"Industry\": \"Not specified\",\n        \"Reason for Match\": \"This AI Developer student role is a great fit, combining your Python, AI, and software development skills. The position in Munich matches your location and preference for a hands-on technical role.\",\n        \"Application URL\": \"https://www.3ds.com/careers/jobs/working-student-m-f-d-ai-developer-544684\",\n        \"Location\": \"München\",\n        \"Flexibility\": \"Not specified\",\n        \"Salary Range\": \"Not specified\"\n      },\n      {\n        \"database_id\": \"4271013272\",\n        \"Company Name\": \"SRH University\",\n        \"Job Title\": \"Lecturer Data Science f/m/d\",\n        \"Industry\": \"Individual and Family Services\",\n        \"Reason for Match\": \"This role in Munich is a strong thematic match, seeking expertise in Data Science, Machine Learning, Python, and AI — all core strengths of your CV. It offers a unique way to apply your deep knowledge.\",\n        \"Application URL\": \"https://www.srh-karriere.de/alle-jobs/stellenangebot/lecturer-data-science-fmd-muenchen\",\n        \"Location\": \"Munich, Bavaria, Germany\",\n        \"Flexibility\": \"Full-time\",\n        \"Salary Range\": \"Not specified\"\n      },\n      {\n        \"database_id\": \"882c32539fe387c7\",\n        \"Company Name\": \"Infosys\",\n        \"Job Title\": \"MarTech Technologist - Consumer Goods, Retail and Logistics - Germany\",\n        \"Industry\": \"Not specified\",\n        \"Reason for Match\": \"This technical role in Munich leverages your advanced Python and SQL skills. While the MarTech domain is new, it aligns with your stated ability to learn new domains and apply core data skills.\",\n        \"Application URL\": \"https://apply.workable.com/j/5915B6BCE7\",\n        \"Location\": \"München\",\n        \"Flexibility\": \"Vollzeit\",\n        \"Salary Range\": \"Not specified\"\n      },\n      {\n        \"database_id\": \"4271002466\",\n        \"Company Name\": \"K-tronik GmbH\",\n        \"Job Title\": \"Java Entwickler/ Fullstack (m/w/x)\",\n        \"Industry\": \"IT Services and IT Consulting\",\n        \"Reason for Match\": \"This entry-level role near Munich fits your software development interests and experience with simulations. It utilizes your intermediate Java skills and aligns with your native German proficiency.\",\n        \"Application URL\": \"https://www.get-in-it.de/jobsuche/p290749-5dcada10/5dcada10?utm_source=linkedin&utm_medium=cpc&utm_campaign=launch-basic\",\n        \"Location\": \"Ottobrunn, Bavaria, Germany\",\n        \"Flexibility\": \"Full-time\",\n        \"Salary Range\": \"Not specified\"\n      },\n      {\n        \"database_id\": \"4271014655\",\n        \"Company Name\": \"REPA Deutschland\",\n        \"Job Title\": \"Cloud Engineer (m/f/d)\",\n        \"Industry\": \"Wholesale\",\n        \"Reason for Match\": \"While primarily a cloud role, it requires proficiency in Python scripting and is located near Munich. It offers an opportunity to leverage your software engineering skills in a cloud infrastructure environment.\",\n        \"Application URL\": \"https://de.linkedin.com/jobs/view/cloud-engineer-m-f-d-at-repa-deutschland-4271014655\",\n        \"Location\": \"Bergkirchen, Bavaria, Germany\",\n        \"Flexibility\": \"Full-time\",\n        \"Salary Range\": \"Not specified\"\n      },\n      {\n        \"database_id\": \"4268344887\",\n        \"Company Name\": \"REPA\",\n        \"Job Title\": \"Cloud Engineer (m/f/d)\",\n        \"Industry\": \"Wholesale\",\n        \"Reason for Match\": \"This position near Munich, while focused on cloud infrastructure, lists Python scripting as a required skill, which aligns with your advanced programming abilities and provides a path into a technical role.\",\n        \"Application URL\": \"https://de.linkedin.com/jobs/view/cloud-engineer-m-f-d-at-repa-4268344887\",\n        \"Location\": \"Bergkirchen, Bavaria, Germany\",\n        \"Flexibility\": \"Full-time\",\n        \"Salary Range\": \"Not specified\"\n      },\n      {\n        \"database_id\": \"4265426137\",\n        \"Company Name\": \"WAY Group\",\n        \"Job Title\": \"Development Android Application Platform (m/w/d) BMW Group Munich\",\n        \"Industry\": \"Professional Services\",\n        \"Reason for Match\": \"This role in Munich for BMW requires Python and Java, both of which are on your CV. Although it's an Android platform role, the use of your core programming languages makes it a potential fit.\",\n        \"Application URL\": \"https://join.com/companies/waygroup/14511978-development-android-application-platform-m-w-d-bmw-group-munich?pid=e65242534431eadcb0c9\",\n        \"Location\": \"Munich, Bavaria, Germany\",\n        \"Flexibility\": \"Full-time\",\n        \"Salary Range\": \"€72,000.00/yr - €77,000.00/yr\"\n      }\n    ],\n    \"updateOperations\": [\n      {\n        \"json\": {\n          \"id\": \"c4728de3c549eaf9\",\n          \"status\": \"processed\",\n          \"processed_at\": \"2025-07-21T23:50:44.615000+00:00\",\n          \"reason_for_match\": \"Excellent match for a junior data science role in Munich. Directly aligns with your Data Science coursework, practical experience with Python and SQL, and native German proficiency.\"\n        }\n      },\n      {\n        \"json\": {\n          \"id\": \"55486f3995d52645\",\n          \"status\": \"processed\",\n          \"processed_at\": \"2025-07-21T23:50:44.615000+00:00\",\n          \"reason_for_match\": \"Perfectly matches your project experience in applied AI and LLMs. This internship in Munich offers hands-on experience with Python, GPT, and modern AI frameworks that you are skilled in.\"\n        }\n      },\n      {\n        \"json\": {\n          \"id\": \"c83b7b064f423054\",\n          \"status\": \"processed\",\n          \"processed_at\": \"2025-07-21T23:50:44.615000+00:00\",\n          \"reason_for_match\": \"This graduate program is an ideal entry point, matching your preference for a junior role in Munich. It leverages your strong background in Data Mining, Python, and SQL, and requires native German skills.\"\n        }\n      },\n      {\n        \"json\": {\n          \"id\": \"196d17a92a6b29b0\",\n          \"status\": \"processed\",\n          \"processed_at\": \"2025-07-21T23:50:44.615000+00:00\",\n          \"reason_for_match\": \"Strongly aligns with your personal projects using LLMs and prompt engineering. This role in Garching offers a great opportunity to apply your cutting-edge AI skills in a renowned research environment.\"\n        }\n      },\n      {\n        \"json\": {\n          \"id\": \"08dd74d5ca6f630f\",\n          \"status\": \"processed\",\n          \"processed_at\": \"2025-07-21T23:50:44.615000+00:00\",\n          \"reason_for_match\": \"This AI Developer student role is a great fit, combining your Python, AI, and software development skills. The position in Munich matches your location and preference for a hands-on technical role.\"\n        }\n      },\n      {\n        \"json\": {\n          \"id\": \"4271013272\",\n          \"status\": \"processed\",\n          \"processed_at\": \"2025-07-21T23:50:44.615000+00:00\",\n          \"reason_for_match\": \"This role in Munich is a strong thematic match, seeking expertise in Data Science, Machine Learning, Python, and AI — all core strengths of your CV. It offers a unique way to apply your deep knowledge.\"\n        }\n      },\n      {\n        \"json\": {\n          \"id\": \"882c32539fe387c7\",\n          \"status\": \"processed\",\n          \"processed_at\": \"2025-07-21T23:50:44.615000+00:00\",\n          \"reason_for_match\": \"This technical role in Munich leverages your advanced Python and SQL skills. While the MarTech domain is new, it aligns with your stated ability to learn new domains and apply core data skills.\"\n        }\n      },\n      {\n        \"json\": {\n          \"id\": \"4271002466\",\n          \"status\": \"processed\",\n          \"processed_at\": \"2025-07-21T23:50:44.615000+00:00\",\n          \"reason_for_match\": \"This entry-level role near Munich fits your software development interests and experience with simulations. It utilizes your intermediate Java skills and aligns with your native German proficiency.\"\n        }\n      },\n      {\n        \"json\": {\n          \"id\": \"4271014655\",\n          \"status\": \"processed\",\n          \"processed_at\": \"2025-07-21T23:50:44.615000+00:00\",\n          \"reason_for_match\": \"While primarily a cloud role, it requires proficiency in Python scripting and is located near Munich. It offers an opportunity to leverage your software engineering skills in a cloud infrastructure environment.\"\n        }\n      },\n      {\n        \"json\": {\n          \"id\": \"4268344887\",\n          \"status\": \"processed\",\n          \"processed_at\": \"2025-07-21T23:50:44.615000+00:00\",\n          \"reason_for_match\": \"This position near Munich, while focused on cloud infrastructure, lists Python scripting as a required skill, which aligns with your advanced programming abilities and provides a path into a technical role.\"\n        }\n      },\n      {\n        \"json\": {\n          \"id\": \"4265426137\",\n          \"status\": \"processed\",\n          \"processed_at\": \"2025-07-21T23:50:44.615000+00:00\",\n          \"reason_for_match\": \"This role in Munich for BMW requires Python and Java, both of which are on your CV. Although it's an Android platform role, the use of your core programming languages makes it a potential fit.\"\n        }\n      }\n    ]\n  }",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        6000,
        3240
      ],
      "id": "edb01d60-5551-41be-9cf5-69b16e2b84cf",
      "name": "Edit Fields"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        5780,
        3240
      ],
      "id": "0cc13996-a02d-4634-9d2c-1e04350b1d62",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "content": "### Upload your Master CV to Drive\n",
        "height": 240,
        "width": 180,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        620,
        2760
      ],
      "typeVersion": 1,
      "id": "6bb25606-e0e3-4b2d-a887-6304cbd5c8fd",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro-preview-06-05",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        3780,
        4120
      ],
      "id": "b62c3ade-acac-44b0-8aaa-65b15192fa7e",
      "name": "Google Gemini Chat Model3",
      "credentials": {
        "googlePalmApi": {
          "id": "aw7Pold22PTIhMYc",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        4400,
        4140
      ],
      "id": "4fc69a2e-de23-4fc0-8e2c-c773c35c8eaa",
      "name": "Google Gemini Chat Model4",
      "credentials": {
        "googlePalmApi": {
          "id": "aw7Pold22PTIhMYc",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro-preview-06-05",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        3420,
        4560
      ],
      "id": "6cd338c5-74f7-4948-981b-f8bcf86e09a9",
      "name": "Google Gemini Chat Model5",
      "credentials": {
        "googlePalmApi": {
          "id": "aw7Pold22PTIhMYc",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {
    "Webhook1": [
      {
        "json": {
          "headers": {
            "host": "perfect-holy-teal.ngrok-free.app",
            "user-agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/18.5 Safari/605.1.15",
            "accept": "text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8",
            "accept-encoding": "gzip, deflate, br",
            "accept-language": "en-US,en;q=0.9",
            "cache-control": "max-age=0",
            "cookie": "abuse_interstitial=perfect-holy-teal.ngrok-free.app; rl_session=RudderEncrypt%3AU2FsdGVkX188cQRJmov0uTDzpjcqziz%2FWSRhDIZJg9DW5Kbwm2Vjc%2FrCAQxE%2F%2FjLtEbzYTR%2FnSab2UiWPyCK2nhOhoK4IRHxHLdfjUj8ycit4%2F0s1y7dHs5x3k4ShmuQ%2BLzBLCmy9h4qX%2BwqlhD7ew%3D%3D; ph_phc_4URIAm1uYfJO7j8kWSe0J8lc8IqnstRLS7Jx8NcakHo_posthog=%7B%22distinct_id%22%3A%22849963298704d60734410b6bdb16d34d7fa41054240b3f5f6f2bdf5be8069285%23d60722ad-eaa1-4d7d-93f1-250b6132b3b3%22%2C%22%24sesid%22%3A%5B1750436932836%2C%2201978dea-f1cc-7997-a8c2-80f6cda3bf93%22%2C1750432674252%5D%2C%22%24epp%22%3Atrue%2C%22%24initial_person_info%22%3A%7B%22r%22%3A%22%24direct%22%2C%22u%22%3A%22https%3A%2F%2Fperfect-holy-teal.ngrok-free.app%2Fsignin%3Fredirect%3D%25252F%22%7D%7D; rl_anonymous_id=RudderEncrypt%3AU2FsdGVkX19wU%2FIombiF1VrCXT7Im%2Fdq1JTc0gzw0O0yRE0j%2FJAGuaSJ0yU5%2FRLQyTEXNAJr4PcCiz450hJJFg%3D%3D; rl_trait=RudderEncrypt%3AU2FsdGVkX1%2BPdIu3aV%2FI3A6oCafymNyAfORIwS3D3Jcmynu0T3rl2OmbKuAMkb6ubSD7bPkkYF%2BB%2BCIFrcgobf9kTI45PAEC2oDDtyQp0o6%2FTc1OXw6ltY2TDzzPEib6pMLNviDPe097aokD%2BtSf0A%3D%3D; rl_user_id=RudderEncrypt%3AU2FsdGVkX1%2FTmZgslvrUOVO5hcWptruJ3Hiq%2BPHgMRJHQYYCjLPt%2FWv0zaDS%2Bcpa08h5kHXZp%2BdesufKniTlJeF9rGxemqqhvpHkYastJttKrGD5XntLykI3a81KQEIL15iMYQD1FddRrhJGz0oLAa0%2BPx%2Bx9Q5ZXZjtl76BL7o%3D; rl_page_init_referrer=RudderEncrypt%3AU2FsdGVkX19qlQnax79fGUnpEZQ97f9Qdu6zanArDCA%3D; rl_page_init_referring_domain=RudderEncrypt%3AU2FsdGVkX1%2FDJqd6SHrpg7QnqzVz3gRF2h8A1TsB8Jw%3D",
            "priority": "u=0, i",
            "sec-fetch-dest": "document",
            "sec-fetch-mode": "navigate",
            "sec-fetch-site": "same-origin",
            "sec-gpc": "1",
            "x-forwarded-for": "2001:a61:3af4:b701:f88d:5ac:3dab:6d64",
            "x-forwarded-host": "perfect-holy-teal.ngrok-free.app",
            "x-forwarded-proto": "https"
          },
          "params": {},
          "query": {
            "jobId": "3994568740"
          },
          "body": {},
          "webhookUrl": "https://perfect-holy-teal.ngrok-free.app/webhook/2f32a889-c6d8-4dda-a550-71d963063aa7",
          "executionMode": "production"
        }
      }
    ],
    "Cover Letter Agent": [
      {
        "json": {
          "output": "Here's a targeted cover letter following your strategy and guidelines (327 words):\n\n---\n\n**Subject: Applying for Agentic AI Engineer at Ippen Digital**  \n\nI've built agentic AI workflows with RAG and vector databases, so your Agentic AI Engineer role immediately caught my attention. It's rare to find positions so perfectly aligned with my passion for creating the kind of innovative, user-centric KI-Agenten Ippen Digital aims to deploy.  \n\nYour need for hands-on builders of LLM-powered systems matches my recent work. When developing my RAG/RAGGraph agentic automation project, I focused on solving the same core challenges you're tackling: creating intuitive workflows that handle complex tasks while maintaining user trust. This wasn't just theoretical – I optimized retrieval pipelines and debugged agentic loops in practical implementations.  \n\nAt ARRK Engineering, I architected and deployed a Python-based ML pipeline from data ingestion to deployment. Since you're scaling solutions, you'll appreciate how I designed modular components that handled 10x throughput spikes without refactoring. It taught me to build systems that stay robust when real-world data gets messy.  \n\nAPI development is crucial for integrating your agents, and my SAP experience directly applies. I designed and documented production-ready APIs for HANA's ML library, focusing specifically on making AI components play nicely together. The interfaces I built are still used by third-party developers today because they prioritize clarity over cleverness.  \n\nWhat sets me apart is how I bridge system design and practical implementation. While some specialize in theory or coding, I've consistently delivered working solutions where both intersect – like optimizing RAG latency while maintaining accuracy thresholds. I geek out on making complex systems feel simple for end-users.  \n\nI'd love to show you how my approach can accelerate your agent development. When's good for a chat?  \n\nBest regards,  \n[Your Name]  \n\n---\n\n### Key features of this letter:\n1. **Company-focused opening**  \nConnects your RAG experience directly to Ippen's mission in the first sentence, avoiding generic enthusiasm.\n\n2. **Evidence-driven paragraphs**  \nEach section:  \n   - States Ippen's need  \n   - Highlights your relevant project  \n   - Shows concrete skills (e.g., \"optimized retrieval pipelines,\" \"handled 10x throughput spikes\")  \n\n3. **Unique value section**  \nEmphasizes your \"bridge\" skill between theory and implementation – a critical need for agentic systems.\n\n4. **Startup-appropriate tone**  \nUses contractions (\"I've,\" \"you're\"), active verbs (\"geek out,\" \"debugged\"), and avoids corporate jargon.\n\n5. **Conciseness**  \nAll paragraphs under 4 sentences, with specific examples instead of achievement lists.\n\n6. **Problem-solving focus**  \nHighlights how you solve pain points (integration challenges, scalability, latency) mentioned in typical agentic AI roles.\n\nWord count: 327 | Sentences per paragraph: 3-4 | Passive voice: 0 instances"
        }
      }
    ],
    "Schedule Trigger": [
      {
        "json": {
          "timestamp": "2025-07-21T08:00:25.746+02:00",
          "Readable date": "July 21st 2025, 8:00:25 am",
          "Readable time": "8:00:25 am",
          "Day of week": "Monday",
          "Year": "2025",
          "Month": "July",
          "Day of month": "21",
          "Hour": "08",
          "Minute": "00",
          "Second": "25",
          "Timezone": "Europe/Berlin (UTC+02:00)"
        }
      }
    ]
  },
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SetResumeField": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Information from Resume PDF": {
      "main": [
        [
          {
            "node": "SetResumeField",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent: Find Best-matched jobs": {
      "main": [
        [
          {
            "node": "Parser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent: Find Best-matched jobs",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Input": {
      "main": [
        [
          {
            "node": "Init DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "stringify_json": {
      "main": [
        [
          {
            "node": "AI Agent: Find Best-matched jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Run ID": {
      "main": [
        [
          {
            "node": "Wait First Timeout",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Run Status": {
      "main": [
        [
          {
            "node": "Check if Succeeded",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if Succeeded": {
      "main": [
        [
          {
            "node": "Get Dataset Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait and Retry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait and Retry": {
      "main": [
        [
          {
            "node": "Check Run Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update_job_status": {
      "main": [
        [
          {
            "node": "extract_update_operation",
            "type": "main",
            "index": 0
          },
          {
            "node": "generate_html_template_py",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Run ID1": {
      "main": [
        [
          {
            "node": "Wait First Timeout2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Run Status1": {
      "main": [
        [
          {
            "node": "Check if Succeeded1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if Succeeded1": {
      "main": [
        [
          {
            "node": "Get Dataset Items1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait and Retry1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait and Retry1": {
      "main": [
        [
          {
            "node": "Check Run Status1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Dataset Items1": {
      "main": [
        [
          {
            "node": "normalize_indeed_job_data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Scraped_Aggregated",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "start_apify_run_linkedin": {
      "main": [
        [
          {
            "node": "Extract Run ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "start_apify_run_indeed": {
      "main": [
        [
          {
            "node": "Extract Run ID1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "extract_update_operation": {
      "main": [
        [
          {
            "node": "Postgres3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Run ID2": {
      "main": [
        [
          {
            "node": "Wait First Timeout3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Run Status2": {
      "main": [
        [
          {
            "node": "Check if Succeeded2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if Succeeded2": {
      "main": [
        [
          {
            "node": "Get Dataset Items2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait and Retry2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Dataset Items2": {
      "main": [
        [
          {
            "node": "normalize_indeed_job_data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait and Retry2": {
      "main": [
        [
          {
            "node": "Check Run Status2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "start_apify_run_indeed1": {
      "main": [
        [
          {
            "node": "Extract Run ID2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "generate_html_template_py": {
      "main": [
        [
          {
            "node": "Email the top job recommendations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Existing Jobs from DB": {
      "main": [
        [
          {
            "node": "De-Duplicate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Insert new job postings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Update existing job postings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetDate": {
      "main": [
        [
          {
            "node": "Get Job Posting",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek Chat Model1": {
      "ai_languageModel": [
        []
      ]
    },
    "Markdown1": {
      "main": [
        [
          {
            "node": "parse_to_paragraphs1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "parse_to_markdown1": {
      "main": [
        [
          {
            "node": "Markdown1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "parse_to_paragraphs1": {
      "main": [
        [
          {
            "node": "create_new_cover_letter1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "return_all_items1": {
      "main": [
        [
          {
            "node": "append_blocks1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create_new_job_listing1": {
      "main": [
        [
          {
            "node": "set_company_name2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create_new_cover_letter1": {
      "main": [
        [
          {
            "node": "return_all_items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set_company_name2": {
      "main": [
        [
          {
            "node": "Download Master CV1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set_cover_letter1": {
      "main": [
        [
          {
            "node": "parse_to_markdown1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Input2": {
      "main": [
        [
          {
            "node": "GetDate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get_job_id1": {
      "main": [
        [
          {
            "node": "Input2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Master CV1": {
      "main": [
        [
          {
            "node": "Extract Text from CV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File4": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing": {
      "main": [
        [
          {
            "node": "start_apify_run_linkedin",
            "type": "main",
            "index": 0
          },
          {
            "node": "start_apify_run_indeed",
            "type": "main",
            "index": 0
          },
          {
            "node": "start_apify_run_indeed1",
            "type": "main",
            "index": 0
          },
          {
            "node": "start_apify_run_linkedin1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert new job postings": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "stringify_json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scraped_Aggregated": {
      "main": [
        [
          {
            "node": "Get Existing Jobs from DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "get_job_id1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Job Posting": {
      "main": [
        [
          {
            "node": "create_new_job_listing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "append_blocks1": {
      "main": [
        [
          {
            "node": "Build Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Resume Consultant": {
      "main": [
        [
          {
            "node": "Prepare Latex",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk7": {
      "main": [
        [
          {
            "node": "HTTP Request: Compile PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Latex": {
      "main": [
        [
          {
            "node": "Convert to File4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Run ID3": {
      "main": [
        [
          {
            "node": "Wait First Timeout1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Run Status3": {
      "main": [
        [
          {
            "node": "Check if Succeeded3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if Succeeded3": {
      "main": [
        [
          {
            "node": "Get Dataset Items3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait and Retry3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait and Retry3": {
      "main": [
        [
          {
            "node": "Check Run Status3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "start_apify_run_linkedin1": {
      "main": [
        [
          {
            "node": "Extract Run ID3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Dataset Items3": {
      "main": [
        [
          {
            "node": "normalize_linkedin_job_data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Init DB": {
      "main": [
        [
          {
            "node": "Download Master CV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "normalize_linkedin_job_data": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "normalize_indeed_job_data": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "normalize_indeed_job_data1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Wait First Timeout": {
      "main": [
        [
          {
            "node": "Check Run Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait First Timeout1": {
      "main": [
        [
          {
            "node": "Check Run Status3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait First Timeout2": {
      "main": [
        [
          {
            "node": "Check Run Status1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait First Timeout3": {
      "main": [
        [
          {
            "node": "Check Run Status2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cover Letter Agent": {
      "main": [
        [
          {
            "node": "set_cover_letter1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Text from CV": {
      "main": [
        [
          {
            "node": "Orchestrator Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Orchestrator Agent": {
      "main": [
        [
          {
            "node": "Parse Strategy JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Strategy JSON": {
      "main": [
        [
          {
            "node": "Cover Letter Agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Orchestrator Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request: Compile PDF": {
      "main": [
        [
          {
            "node": "Read Generated PDF",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Resume Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Generated PDF": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "De-Duplicate": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          },
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Build Email": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Parse Resume JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek Chat Model": {
      "ai_languageModel": [
        []
      ]
    },
    "Parse Resume JSON": {
      "main": [
        [
          {
            "node": "AI Resume Consultant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "normalize_linkedin_job_data1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Dataset Items": {
      "main": [
        [
          {
            "node": "normalize_linkedin_job_data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Master CV": {
      "main": [
        [
          {
            "node": "Extract Information from Resume PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parser": {
      "main": [
        [
          {
            "node": "Parse JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse JSON": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "update_job_status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        []
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "AI Resume Consultant",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model5": {
      "ai_languageModel": [
        [
          {
            "node": "Cover Letter Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Berlin",
    "saveExecutionProgress": true,
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": -1,
    "timeSavedPerExecution": 1
  },
  "versionId": "b3b76fef-2ac6-4b20-b7df-1285bc12ebd3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d61f1d8c02b08174ff10b435a65c150febeac76956b2f7e114c99630bac17961"
  },
  "id": "cCQO37YsOptt6iXB",
  "tags": [
    {
      "createdAt": "2025-07-16T14:32:07.995Z",
      "updatedAt": "2025-07-16T14:32:07.995Z",
      "id": "6eHLIaRRgQ6iEGCj",
      "name": "Linkedin"
    },
    {
      "createdAt": "2025-07-18T14:42:07.128Z",
      "updatedAt": "2025-07-18T14:42:07.128Z",
      "id": "VEZgsIFy9mxSpebZ",
      "name": "Indeed"
    },
    {
      "createdAt": "2025-07-18T14:42:11.876Z",
      "updatedAt": "2025-07-18T14:42:11.876Z",
      "id": "2tnmXiapbZjJ41nr",
      "name": "Agent"
    },
    {
      "createdAt": "2025-07-18T14:42:20.932Z",
      "updatedAt": "2025-07-18T14:42:20.932Z",
      "id": "YTdxVMrse7OInESG",
      "name": "Resume"
    },
    {
      "createdAt": "2025-07-18T14:42:34.217Z",
      "updatedAt": "2025-07-18T14:42:34.217Z",
      "id": "WXre9VWXJaukbqI4",
      "name": "Cover letter"
    }
  ]
}